<!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-66" >
    <img class="image-98" src="../../../assets/image-325.png" />
    <div class="pago-de-membres-a" >
Pago de membresía </div>
    <div class="rectangle-54" >
    </div>
    <img class="image-99" src="../../../assets/image-326.png" />
    <img class="image-100" src="../../../assets/image-320.png" />
    <div class="logo-30" >
          <img class="logo-1" src="../../../assets/logo-1.png" />
    </div>
    <div class="pamper-ur-pet" >
PAMPER UR PET </div>
    <div class="nosotros" >
NOSOTROS </div>
    <div class="membres-a" >
MEMBRESÍA </div>
    <div class="cont-ctanos" >
CONTÁCTANOS </div>
    <img class="image-101" src="../../../assets/image-321.png" />
    <div class="roberto" >
Roberto </div>
    <img class="image-102" src="../../../assets/image-322.png" />
    <div class="group-145" >
          <div class="rectangle-3" >
          </div>
          <div class="aceptar" >
Aceptar </div>
    </div>
    <div class="rectangle-55" >
    </div>
    <div class="rectangle-58" >
    </div>
    <div class="rectangle-59" >
    </div>
    <div class="xxxx-xxxx-xxxx-xxxx" >
xxxx xxxx xxxx xxxx </div>
    <div class="n-mero-de-tarjeta" >
Número de tarjeta </div>
    <div class="nombre-completo" >
Nombre completo </div>
    <div class="roberto-g-mez" >
Roberto Gómez </div>
    <div class="membres-a-elegida" >
Membresía elegida </div>
    <div class="monto-a-pagar" >
Monto a pagar: </div>
    <div class="standard" >
Standard </div>
    <div class="fv" >
FV </div>
    <div class="cvv" >
CVV </div>
    <div class="rectangle-56" >
    </div>
    <div class="_09-24" >
09/24 </div>
    <div class="rectangle-57" >
    </div>
    <div class="rectangle-60" >
    </div>
    <div class="xxx" >
xxx </div>
    <div class="s-60-00" >
s/60.00 </div>
    <img class="image-142" src="../../../assets/image-323.png" />
    <img class="image-143" src="../../../assets/image-324.png" />
    <div class="logo-41" >
          <img class="logo-1" src="../../../assets/logo-1.png" />
    </div>
    <div class="pamper-ur-pet2" >
PAMPER UR PET </div>
    <div class="group-225" >
          <div class="rectangle-32" >
          </div>
    </div>
    <div class="group-226" >
          <div class="rectangle-33" >
          </div>
    </div>
    <div class="group-227" >
          <div class="rectangle-34" >
          </div>
    </div>
    <div class="group-228" >
          <div class="rectangle-35" >
          </div>
    </div>
    <div class="group-229" >
          <div class="rectangle-36" >
          </div>
    </div>
    <div class="inicio">
        <a routerLink="/todos/bienvenida">Inicio</a>
    </div>
    
    <div class="perfil">
        <a routerLink="/todos/getpropietario">Perfil</a>
    </div>
    
    <div class="reservas">
        <a routerLink="/todos/getdeletereserva">Reservas</a>
    </div>
    
    <div class="mascotas">
        <a routerLink="/todos/getmascota">Mascotas</a>
    </div>
    <div class="membres-a2">
        <a routerLink="/todos/pagomembresia">Membresía</a>
    </div>
</div>
