<form [formGroup]="form" (submit)="aceptar()">
    <!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-66" >
    <img class="image-98" src="../../../assets/image-325.png" />
    <div class="pago-de-membres-a" >
Pago de membresía </div>
    <div class="rectangle-54" >
    </div>
    <img class="image-99" src="../../../assets/image-326.png" />
    <img class="image-100" src="../../../assets/image-320.png" />
    <div class="logo-30" >
          <img class="logo-1" src="../../../assets/logo-1.png" />
    </div>
    <div class="pamper-ur-pet" >
PAMPER UR PET </div>
    <div class="nosotros" >
NOSOTROS </div>
    <div class="membres-a" >
MEMBRESÍA </div>
    <div class="cont-ctanos" >
CONTÁCTANOS </div>
    <img class="image-101" src="../../../assets/image-321.png" />
    <div class="roberto" >
Roberto </div>
    <img class="image-102" src="../../../assets/image-322.png" />
    <div class="group-145" >
          <div class="rectangle-3" >
          </div>
    </div>
    <div class="rectangle-55" >
    </div>
    <div class="rectangle-58" >
    </div>
    <div class="rectangle-59" >
    </div>
    <div class="n-mero-de-tarjeta" >
Número de tarjeta </div>
    <div class="nombre-completo" >
Nombre completo </div>
    <div class="membres-a-elegida" >
Membresía elegida </div>
<div class="cvv" >
    CVV </div>
<div class="monto-a-pagar" >
    Monto a Pagar </div>
    <div class="fv" >
FV </div>
    <div class="rectangle-56" >
    </div>
    <div class="rectangle-57" >
    </div>
    <div class="rectangle-60" >
    </div>
    <img class="image-142" src="../../../assets/image-323.png" />
    <img class="image-143" src="../../../assets/image-324.png" />
    <div class="logo-41" >
          <img class="logo-1" src="../../../assets/logo-1.png" />
    </div>
    <div class="pamper-ur-pet2" >
PAMPER UR PET </div>
    <div class="group-225" >
          <div class="rectangle-32" >
          </div>
    </div>
    <div class="group-227" >
          <div class="rectangle-34" >
          </div>
    </div>
    <div class="inicio">
        <a routerLink="/todos/landingpage">Inicio</a>
    </div>
    <div class="membres-a2">
        <a routerLink="/todos/pagomembresia">Membresía</a>
    </div>
    <div class="xxxx-xxxx-xxxx-xxxx">
        <label for="numerotarjeta_memb"></label>
        <input formControlName="numerotarjeta_memb" type="text" id="numerotarjeta_memb" placeholder="Número de Tarjeta">
      </div>
      <div class="_09-24">
        <label for="fechavencimiento_memb"></label>
        <input formControlName="fechavencimiento_memb" type="text" id="fechavencimiento_memb" placeholder="Fecha de Vencimiento">
      </div>
      <div class="xxx">
        <label for="cvv_memb"></label>
        <input formControlName="cvv_memb" type="text" id="cvv_memb" placeholder="CVV">
      </div>
      <div class="roberto-g-mez">
        <label for="nombrecompleto_memb"></label>
        <input formControlName="nombrecompleto_memb" type="text" id="nombrecompleto_memb" placeholder="Nombre y Apellido">
      </div>
      <div class="standard">
        <label for="membresiaelegida_memb"></label>
        <input formControlName="membresiaelegida_memb" type="text" id="membresiaelegida_memb" placeholder="Membresia Elegida">
      </div>
      <div class="s-60-00">
        <label for="montopagar_memb"></label>
        <input formControlName="montopagar_memb" type="text" id="montopagar_memb" placeholder="Monto a Pagar">
      </div>
      <button type="submit" class="aceptar">Aceptar</button>
</div>
</form>