<!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-47" >
    <div class="group-134" >
          <div class="group-169" >
                <img class="image-33" src="../../../assets/image-240.png" />
          </div>
          <div class="pamper-ur-pet" >
PAMPER UR PET </div>
          <img class="image-35" src="../../../assets/image-241.png" />
          <div class="nombre-luna">
            Nombre: {{ mascotas[0].nombre_mas }}
        </div>
        <div class="raza-golden">
            Raza: {{ mascotas[0].raza_mas }}
        </div>
        <div class="edad-2-a-os">
            Edad: {{ mascotas[0].edad_mas }} años
        </div>
        <div *ngIf="mascotas.length > 1">
            <div class="nombre-blacki">
                  Nombre: {{ mascotas[1].nombre_mas }}
              </div>
              <div class="raza-pug">
                  Raza: {{ mascotas[1].raza_mas }}
              </div>
              <div class="edad-8-meses">
                  Edad: {{ mascotas[1].edad_mas }} meses
              </div>
        </div>
        <div *ngIf="mascotas.length > 2">
            <div class="nombre-nieve">
                  Nombre: {{ mascotas[2].nombre_mas }}
              </div>
              <div class="raza-samoyedo">
                  Raza: {{ mascotas[2].raza_mas }}
              </div>
              <div class="edad-4-meses">
                  Edad: {{ mascotas[2].edad_mas }} meses
              </div>
        </div>
          <img class="image-43" src="../../../assets/image-242.png" />
          <div class="group-96" >
                <div class="rectangle-3" >
                </div>
          </div>
          <div class="group-97" >
                <div class="rectangle-32" >
                </div>
          </div>
          <div class="group-100" >
                <div class="rectangle-33" >
                </div>
          </div>
          <div class="group-99" >
                <div class="rectangle-34" >
                </div>
          </div>
          <div class="group-98" >
                <div class="rectangle-35" >
                </div>
          </div>
          <div class="group-102" >
                <div class="rectangle-36" >
                </div>
          </div>
          <div class="group-101" >
                <div class="rectangle-37" >
                </div>
          </div>
          <img class="image-44" src="../../../assets/image-243.png" />
          <img class="image-46" src="../../../assets/image-244.png" />
          <div class="logo-19" >
                <img class="logo-1" src="../../../assets/logo-1.png" />
          </div>
    </div>
    <div class="group-196" >
          <div class="rectangle-38" >
          </div>
    </div>
    <div class="group-197" >
          <div class="rectangle-39" >
          </div>
    </div>
    <div class="group-198" >
          <div class="rectangle-310" >
          </div>
    </div>
    <div class="group-199" >
          <div class="rectangle-311" >
          </div>
<div class="inicio">
    <a routerLink="/todos/bienvenida">Inicio</a>
</div>

<div class="perfil">
    <a routerLink="/todos/getpropietario">perfil</a>
</div>

<div class="mascotas">
    <a routerLink="/todos/getmascota">mascotas</a>
</div>
<div class="registrar-mascota">
    <a routerLink="/todos/registermascota">Registrar Mascota</a>
</div>
<div class="modificar-datos">
    <a routerLink="/todos/putmascota">Modificar datos</a>
</div>

<div class="modificar-datos2">
    <a routerLink="/todos/putmascota">Modificar datos</a>
</div>

<div class="modificar-datos3">
    <a routerLink="/todos/putmascota">Modificar datos</a>
</div>
<div class="eliminar">
    <a routerLink="/todos/deletemascota">Eliminar</a>
</div>

<div class="eliminar2">
    <a routerLink="/todos/deletemascota">Eliminar</a>
</div>

<div class="eliminar3">
    <a routerLink="/todos/deletemascota">Eliminar</a>
</div>
<div class="reservas">
      <a routerLink="/todos/getdeletereserva">Reservas</a>
  </div> 
    </div>
</div>