<!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-47" >
    <div class="group-134" >
          <div class="group-169" >
                <img class="image-33" src="../../../assets/image-240.png" />
          </div>
          <div class="pamper-ur-pet" >
PAMPER UR PET </div>
          <img class="image-35" src="../../../assets/image-241.png" />
          <div class="nombre-luna" >
Nombre: Luna </div>
          <div class="raza-golden" >
Raza: Golden  </div>
          <div class="edad-2-a-os" >
Edad: 2 años </div>
          <img class="image-43" src="../../../assets/image-242.png" />
          <div class="group-96" >
                <div class="rectangle-3" >
                </div>
          </div>
          <div class="group-97" >
                <div class="rectangle-32" >
                </div>
          </div>
          <div class="group-100" >
                <div class="rectangle-33" >
                </div>
          </div>
          <div class="group-99" >
                <div class="rectangle-34" >
                </div>
          </div>
          <div class="group-98" >
                <div class="rectangle-35" >
                </div>
          </div>
          <div class="group-102" >
                <div class="rectangle-36" >
                </div>
          </div>
          <div class="group-101" >
                <div class="rectangle-37" >
                </div>
          </div>
          <img class="image-44" src="../../../assets/image-243.png" />
          <div class="nombre-blacki" >
Nombre: Blacki </div>
          <div class="raza-pug" >
Raza: Pug </div>
          <div class="edad-8-meses" >
Edad: 8 meses </div>
          <div class="nombre-nieve" >
Nombre: Nieve </div>
          <div class="raza-samoyedo" >
Raza: Samoyedo  </div>
          <div class="edad-4-meses" >
Edad: 4 meses </div>
          <img class="image-46" src="../../../assets/image-244.png" />
          <div class="logo-19" >
                <img class="logo-1" src="../../../assets/logo-1.png" />
          </div>
    </div>
    <div class="group-196" >
          <div class="rectangle-38" >
          </div>
    </div>
    <div class="group-197" >
          <div class="rectangle-39" >
          </div>
    </div>
    <div class="group-198" >
          <div class="rectangle-310" >
          </div>
    </div>
    <div class="group-199" >
          <div class="rectangle-311" >
          </div>
<div class="inicio">
    <a routerLink="/todos/bienvenida">Inicio</a>
</div>

<div class="perfil">
    <a routerLink="/todos/getpropietario">perfil</a>
</div>

<div class="mascotas">
    <a routerLink="/todos/getmascota">mascotas</a>
</div>
<div class="registrar-mascota">
    <a routerLink="/todos/registermascota">Registrar Mascota</a>
</div>
<div class="modificar-datos">
    <a routerLink="/todos/putmascota">Modificar datos</a>
</div>

<div class="modificar-datos2">
    <a routerLink="/todos/putmascota">Modificar datos</a>
</div>

<div class="modificar-datos3">
    <a routerLink="/todos/putmascota">Modificar datos</a>
</div>
<div class="eliminar">
    <a routerLink="/todos/deletemascota">Eliminar</a>
</div>

<div class="eliminar2">
    <a routerLink="/todos/deletemascota">Eliminar</a>
</div>

<div class="eliminar3">
    <a routerLink="/todos/deletemascota">Eliminar</a>
</div>
<div class="reservas">
      <a routerLink="/todos/getdeletereserva">Reservas</a>
  </div> 
    </div>
</div>
