<form [formGroup]="form">
    <!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-47" >
    <div class="group-134" >
          <div class="group-169" >
                <img class="image-33" src="../../../assets/image-240.png" />
          </div>
          <div class="pamper-ur-pet" >
PAMPER UR PET </div>
          <img class="image-35" src="../../../assets/image-241.png" />
          <div class="nombre-luna">
            Nombre: {{ mascotas[0].nombre_mas }}
        </div>
        <div class="raza-golden">
            Raza: {{ mascotas[0].raza_mas }}
        </div>
        <div class="edad-2-a-os">
            Edad: {{ mascotas[0].edad_mas }} años
        </div>
        <div *ngIf="mascotas.length > 1">
            <div class="nombre-blacki">
                  Nombre: {{ mascotas[1].nombre_mas }}
              </div>
              <div class="raza-pug">
                  Raza: {{ mascotas[1].raza_mas }}
              </div>
              <div class="edad-8-meses">
                  Edad: {{ mascotas[1].edad_mas }} meses
              </div>
        </div>
        <div *ngIf="mascotas.length > 2">
            <div class="nombre-nieve">
                  Nombre: {{ mascotas[2].nombre_mas }}
              </div>
              <div class="raza-samoyedo">
                  Raza: {{ mascotas[2].raza_mas }}
              </div>
              <div class="edad-4-meses">
                  Edad: {{ mascotas[2].edad_mas }} meses
              </div>
        </div>
          <img class="image-43" src="../../../assets/image-242.png" />
          <div class="group-96" >
                <div class="rectangle-3" >
                </div>
          </div>
          <div class="group-97" >
                <div class="rectangle-32" >
                </div>
          </div>
          <div class="group-100" >
                <div class="rectangle-33" >
                </div>
          </div>
          <div class="group-99" >
                <div class="rectangle-34" >
                </div>
          </div>
          <div class="group-98" >
                <div class="rectangle-35" >
                </div>
          </div>
          <div class="group-102" >
                <div class="rectangle-36" >
                </div>
          </div>
          <div class="group-101" >
                <div class="rectangle-37" >
                </div>
          </div>
          <img class="image-44" src="../../../assets/image-243.png" />
          <img class="image-46" src="../../../assets/image-244.png" />
          <div class="logo-19" >
                <img class="logo-1" src="../../../assets/logo-1.png" />
          </div>
    </div>
    <div class="group-196" >
          <div class="rectangle-38" >
          </div>
    </div>
    <div class="group-197" >
          <div class="rectangle-39" >
          </div>
    </div>
    <div class="group-198" >
          <div class="rectangle-310" >
          </div>
    </div>
    <div class="group-199" >
          <div class="rectangle-311" >
          </div>
<div class="inicio">
    <a routerLink="/todos/bienvenida">Inicio</a>
</div>

<div class="perfil">
    <a routerLink="/todos/getpropietario">perfil</a>
</div>

<div class="mascotas">
    <a routerLink="/todos/getmascota">mascotas</a>
</div>
<div class="registrar-mascota">
    <a routerLink="/todos/registermascota">Registrar Mascota</a>
</div>
<div class="modificar-datos">
    <a routerLink="/todos/putmascota">Modificar datos</a>
</div>

<div class="modificar-datos2">
    <a routerLink="/todos/putmascota">Modificar datos</a>
</div>

<div class="modificar-datos3">
    <a routerLink="/todos/putmascota">Modificar datos</a>
</div>
<div class="eliminar">
    <a routerLink="/todos/deletemascota">Eliminar</a>
</div>

<div class="eliminar2">
    <a routerLink="/todos/deletemascota">Eliminar</a>
</div>

<div class="eliminar3">
    <a routerLink="/todos/deletemascota">Eliminar</a>
</div>
<div class="reservas">
      <a routerLink="/todos/getdeletereserva">Reservas</a>
  </div> 
  <div class="rectangle-4">
    <label for="idMascotaSeleccionado">Filtro Mascota por ID:</label>
    <input formControlName="idMascotaSeleccionado" type="number" id="idMascotaSeleccionado" placeholder="ID de mascota" (keyup)="filtrarMascotas()">
  </div>
<div class="qu-estas-buscando" >
       </div>
      <svg class="search" width="46" height="39" viewBox="0 0 46 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.2087 8.48999C26.0412 8.48999 29.9587 12.4075 29.9587 17.24C29.9587 19.3862 29.1861 21.3519 27.9037 22.8741L34.7391 29.7097C35.032 30.0026 35.032 30.4774 34.7391 30.7703C34.4728 31.0366 34.0561 31.0608 33.7625 30.8429L33.6784 30.7703L26.8428 23.935C25.3206 25.2173 23.3549 25.99 21.2087 25.99C16.3762 25.99 12.4587 22.0725 12.4587 17.24C12.4587 12.4075 16.3762 8.48999 21.2087 8.48999ZM21.2087 9.98999C17.2047 9.98999 13.9587 13.2359 13.9587 17.24C13.9587 21.2441 17.2047 24.49 21.2087 24.49C25.2128 24.49 28.4587 21.2441 28.4587 17.24C28.4587 13.2359 25.2128 9.98999 21.2087 9.98999Z" fill="#212121"/>
            </svg>
    </div>
</div>
</form>