     <!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-67" >
      <div class="group-171" >
            <img class="image-112" src="../../../assets/image-330.png" />
            <div class="mascotas" >
  Mascotas </div>
            <div class="paseadores" >
  Paseadores </div>
            <div class="propietarios" >
  Propietarios </div>
            <div class="group-165" >
                  <div class="rectangle-3" >
                  </div>
                  <svg class="search" width="46" height="38" viewBox="0 0 46 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.5 7.75C25.3325 7.75 29.25 11.6675 29.25 16.5C29.25 18.6462 28.4773 20.6119 27.195 22.1341L34.0303 28.9697C34.3232 29.2626 34.3232 29.7374 34.0303 30.0303C33.7641 30.2966 33.3474 30.3208 33.0538 30.1029L32.9697 30.0303L26.1341 23.195C24.6119 24.4773 22.6462 25.25 20.5 25.25C15.6675 25.25 11.75 21.3325 11.75 16.5C11.75 11.6675 15.6675 7.75 20.5 7.75ZM20.5 9.25C16.4959 9.25 13.25 12.4959 13.25 16.5C13.25 20.5041 16.4959 23.75 20.5 23.75C24.5041 23.75 27.75 20.5041 27.75 16.5C27.75 12.4959 24.5041 9.25 20.5 9.25Z" fill="#212121"/>
                  </svg>
            </div>
            <div class="group-164" >
                  <div class="rectangle-32" >
                  </div>
                  <svg class="search2" width="46" height="39" viewBox="0 0 46 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.5 8.48999C25.3325 8.48999 29.25 12.4075 29.25 17.24C29.25 19.3862 28.4773 21.3519 27.195 22.8741L34.0303 29.7097C34.3232 30.0026 34.3232 30.4774 34.0303 30.7703C33.7641 31.0366 33.3474 31.0608 33.0538 30.8429L32.9697 30.7703L26.1341 23.935C24.6119 25.2173 22.6462 25.99 20.5 25.99C15.6675 25.99 11.75 22.0725 11.75 17.24C11.75 12.4075 15.6675 8.48999 20.5 8.48999ZM20.5 9.98999C16.4959 9.98999 13.25 13.2359 13.25 17.24C13.25 21.2441 16.4959 24.49 20.5 24.49C24.5041 24.49 27.75 21.2441 27.75 17.24C27.75 13.2359 24.5041 9.98999 20.5 9.98999Z" fill="#212121"/>
                  </svg>
            </div>
            <div class="group-156" >
                  <div class="rectangle-33" >
                  </div>
                  <div class="modificar-perfil" >
  Modificar Perfil </div>
            </div>
            <div class="group-158" >
                  <div class="rectangle-34" >
                  </div>
                  <div class="modificar-perfil2" >
  Modificar Perfil </div>
            </div>
            <div class="group-160" >
                  <div class="rectangle-35" >
                  </div>
                  <div class="modificar-perfil3" >
  Modificar Perfil </div>
            </div>
            <div class="admin" >
  Admin </div>
            <div class="rectangle-74" >
            </div>
            <div class="rectangle-75" >
            </div>
            <div class="rectangle-76" >
            </div>
            <div class="rectangle-77" >
            </div>
            <div class="rectangle-78" >
            </div>
            <div class="rectangle-79" >
            </div>
            <div class="rectangle-80" >
            </div>
            <div class="rectangle-81" >
            </div>
            <div class="rectangle-82" >
            </div>
            <div class="rectangle-83" >
            </div>
            <div class="rectangle-84" >
            </div>
            <div class="rectangle-86" >
            </div>
            <img class="ellipse-15" src="../../../assets/image-27.png" />
            <div class="_51-912345678" >
  +51 912345678 </div>
            <img class="image-116" src="../../../assets/image-27.png" />
            <div class="roberto-g-mez-bola-os" >
  Roberto Gómez Bolaños </div>
            <div class="roberto-123-gmail-com" >
  roberto123gmail.com </div>
            <div class="nieve" >
  Nieve </div>
            <div class="samoyedo" >
  Samoyedo </div>
            <div class="_4-meses" >
  4 meses </div>
            <div class="rosahl-57-gmail-com" >
  rosahl57gmail.com </div>
            <div class="_51-9349977501" >
  +51 9349977501 </div>
            <div class="rosa-hernandez-lopez" >
  Rosa Hernandez Lopez </div>
            <img class="image-44" src="../../../assets/image-27.png" />
            <div class="group-163" >
                  <div class="rectangle-36" >
                  </div>
                  <div class="ingrese-id" >
  Ingrese ID </div>
                  <svg class="search3" width="46" height="39" viewBox="0 0 46 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.5 8.48999C25.3325 8.48999 29.25 12.4075 29.25 17.24C29.25 19.3862 28.4773 21.3519 27.195 22.8741L34.0303 29.7097C34.3232 30.0026 34.3232 30.4774 34.0303 30.7703C33.7641 31.0366 33.3474 31.0608 33.0538 30.8429L32.9697 30.7703L26.1341 23.935C24.6119 25.2173 22.6462 25.99 20.5 25.99C15.6675 25.99 11.75 22.0725 11.75 17.24C11.75 12.4075 15.6675 8.48999 20.5 8.48999ZM20.5 9.98999C16.4959 9.98999 13.25 13.2359 13.25 17.24C13.25 21.2441 16.4959 24.49 20.5 24.49C24.5041 24.49 27.75 21.2441 27.75 17.24C27.75 13.2359 24.5041 9.98999 20.5 9.98999Z" fill="#212121"/>
                  </svg>
            </div>
            <div class="usuarios" >
  Usuarios </div>
            <div class="ingrese-id2" >
  Ingrese ID </div>
      </div>
      <div class="ingrese-id3" >
  Ingrese ID </div>
      <img class="image-162" src="../../../assets/image-333.png" />
      <div class="pamper-ur-pet" >
  PAMPER UR PET </div>
      <img class="logo-1" src="../../../assets/logo-1.png" />
      <div class="group-275" >
            <div class="rectangle-37" >
            </div>
      </div>
      <div class="group-276" >
            <div class="rectangle-38" >
            </div>
      </div>
      <div class="group-277" >
            <div class="rectangle-39" >
            </div>
      </div>
      <div class="admin2" >
  Admin </div>
  <div class="n-osotros">
      <a routerLink="/todos/landingpage">NOSOTROS</a>
  </div>
  
  <div class="membres-a3">
      <a routerLink="/todos/landingpage">MEMBRESÍA</a>
  </div>
  
  <div class="cont-ctanos2">
      <a routerLink="/todos/landingpage">CONTÁCTANOS</a>
  </div>
  
      <img class="image-115" src="../../../assets/image-331.png" />
  </div>

<form [formGroup]="propietarioForm" (submit)="updatePropietario()">
          <div class="rectangle-36">
            <label for="idPropietarioSeleccionado">ID de propietario</label>
            <input formControlName="idPropietarioSeleccionado" type="number" id="idPropietarioSeleccionado" placeholder="ID de propietario">
        </div>
      <div class="rectangle-75">
            <label for="nombreapellido_prop"></label>
            <input formControlName="nombreapellido_prop" type="text" id="nombreapellido_prop" placeholder="Nombre de Propietario" [(ngModel)]="propietario.nombreapellido_prop" />
          </div>
          <div class="rectangle-83">
            <label for="telefono_prop"></label>
            <input formControlName="telefono_prop" type="text" id="telefono_prop" placeholder="Telefono de Propietario" [(ngModel)]="propietario.telefono_prop" />
          </div>
          <div class="rectangle-78">
            <label for="correo_prop"></label>
            <input formControlName="correo_prop" type="text" id="correo_prop" placeholder="Correo de Propietario" [(ngModel)]="propietario.correo_prop" />
          </div>
      <!-- Contenido del formulario para Propietario -->
      <button type="submit" class="rectangle-33">Guardar Propietario</button>
    </form>
    
    <!-- Formulario para Paseador -->
    <form [formGroup]="paseadorForm" (submit)="updatePaseador()">
          <div class="rectangle-32">
            <label for="idPaseadorSeleccionado">ID de paseador</label>
            <input formControlName="idPaseadorSeleccionado" type="number" id="idPaseadorSeleccionado" placeholder="ID de paseador">
        </div>
      <div class="rectangle-77">
            <label for="nombreapellido_pas"></label>
            <input formControlName="nombreapellido_pas" type="text" id="nombreapellido_pas" placeholder="Nombre de Paseador" [(ngModel)]="paseador.nombreapellido_pas" />
          </div>
          <div class="rectangle-76">
            <label for="telefono_pas"></label>
            <input formControlName="telefono_pas" type="text" id="telefono_pas" placeholder="Telefono de Paseador" [(ngModel)]="paseador.telefono_pas" />
          </div>
          <div class="rectangle-82">
            <label for="correo_pas"></label>
            <input formControlName="correo_pas" type="text" id="correo_pas" placeholder="Correo de Paseador" [(ngModel)]="paseador.correo_pas" />
          </div>
      <!-- Contenido del formulario para Paseador -->
      <button type="submit" class="rectangle-35">Guardar Paseador</button>
    </form>
    
    <!-- Formulario para Mascota -->
    <form [formGroup]="mascotaForm" (submit)="updateMascota()">
          <div class="rectangle-3">
            <label for="idMascotaSeleccionado">ID de mascota</label>
            <input formControlName="idMascotaSeleccionado" type="number" id="idMascotaSeleccionado" placeholder="ID de mascota">
        </div>
      <div class="rectangle-79">
            <label for="nombre_mas"></label>
            <input formControlName="nombre_mas" type="text" id="nombre_mas" placeholder="Nombre de Mascota" [(ngModel)]="mascota.nombre_mas" />
          </div>
          <div class="rectangle-80">
            <label for="raza_mas"></label>
            <input formControlName="raza_mas" type="text" id="raza_mas" placeholder="Raza de Mascota" [(ngModel)]="mascota.raza_mas" />
          </div>
          <div class="rectangle-81">
            <label for="edad_mas"></label>
            <input formControlName="edad_mas" type="text" id="edad_mas" placeholder="Edad de Mascota" [(ngModel)]="mascota.edad_mas" />
          </div>
      <!-- Contenido del formulario para Mascota -->
      <button type="submit" class="rectangle-34">Guardar Mascota</button>
    </form>
    