<!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-49" >
    <div class="group-144" >
          <img class="image-42" src="../../../assets/image-262.png" />
          <img class="image-37" src="../../../assets/image-260.png" />
          <img class="image-38" src="../../../assets/image-261.png" />
          <div class="pamper-ur-pet" >
PAMPER UR PET </div>
          <div class="logo-20" >
                <img class="logo-1" src="../../../assets/logo-1.png" />
          </div>
          <img class="image-50" src="../../../assets/image-263.png" />
          <div class="modificar-datos-de-mascota" >
Modificar datos de Mascota </div>
          <div class="frame-18" >
          </div>
          <div class="nombre" >
Nombre: </div>
          <div class="raza" >
Raza:  </div>
          <div class="frame-19" >
          </div>
          <div class="edad" >
Edad:  </div>
          <div class="frame-20" >
          </div>
          <div class="group-115" >
                <div class="rectangle-3" >
                </div>
                <div class="guardar" >
Guardar </div>
          </div>
    </div>
    <div class="group-200" >
          <div class="rectangle-32" >
          </div>
    </div>
    <div class="group-201" >
          <div class="rectangle-33" >
          </div>
    </div>
    <div class="group-202" >
          <div class="rectangle-34" >
          </div>
    </div>
    <div class="group-203" >
          <div class="rectangle-35" >
          </div>
    </div>
    <div class="group-204" >
          <div class="rectangle-36" >
          </div>
          <div class="reservas">
            <a routerLink="/todos/getdeletereserva">Reservas</a>
        </div> 
<div class="inicio">
    <a routerLink="/todos/bienvenida">Inicio</a>
</div>

<div class="perfil">
    <a routerLink="/todos/getpropietario">perfil</a>
</div>

<div class="mascotas">
    <a routerLink="/todos/getmascota">mascotas</a>
</div>

<div class="membres-a">
    <a routerLink="/todos/pagomembresia">Membresía</a>
</div>

    </div>
</div>
