<form [formGroup]="form" (submit)="deleteReserva()">
      <!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-51" >
      <div class="group-172" >
            <div *ngFor="let reserva of reservas; let i = index" class="grupo-paseadores" >
                  <img class="image-21" src="../../../assets/image-282.png" />
                  <img class="image-22" src="../../../assets/image-283.png" />
                  <div class="group-94" >
                        <div class="rectangle-3" >
                        </div>
                  </div>
                  <div class="logo-15" >
                        <img class="logo-1" src="../../../assets/logo-1.png" />
                  </div>
                  <div class="pamper-ur-pet" >
  PAMPER UR PET </div>
                  <img class="image-23" src="../../../assets/image-284.png" />
                  <svg class="rectangle-11" width="1234" height="201" viewBox="0 0 1234 201" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0H1234V201H0V0Z" fill="white"/>
                  </svg>
                  <div class="inicio-fin-n-mero-de-mascotas-paseador" >
  Inicio:<br/>Fin: <br/>Número de mascotas:<br/>Paseador: </div>
                  <div class="reserva-3" >
  Reserva 3 </div>
                  <div class="group-92" >
                        <div class="rectangle-32" >
                        </div>
                        <div class="mis-mascotas" >
  Mis mascotas </div>
                  </div>
                  <div class="group-93" >
                        <div class="rectangle-33" >
                        </div>
                  </div>
                  <div class="group-96" >
                        <div class="rectangle-34" >
                        </div>
                  </div>
                  <div class="rectangle-10" >
                  </div>
                  <div class="reserva-2" >
  Reserva 2 </div>
                  <div class="group-110" >
                        <div class="rectangle-35" >
                        </div>
                        <div class="eliminar" >
  Eliminar </div>
                        <div class="group-109" >
                              <div class="rectangle-36" >
                              </div>
                        </div>
                  </div>
                  <div class="group-1092" >
                        <div class="rectangle-37" >
                        </div>
                        <div class="group-1102" >
                              <div class="rectangle-36" >
                              </div>
                              <div class="eliminar2" >
  Eliminar </div>
                        </div>
                        <div class="group-109" >
                              <div class="rectangle-38" >
                              </div>
                        </div>
                  </div>
                  <div class="rectangle-12" >
                  </div>
                  <div class="inicio-fin-n-mero-de-mascotas-paseador2" >
  Inicio:<br/>Fin: <br/>Número de mascotas:<br/>Paseador: </div>
            </div>
            <div class="grupo-paseadores" >
                  <img class="image-21" src="../../../assets/image-282.png" />
                  <img class="image-22" src="../../../assets/image-283.png" />
                  <div class="group-94" >
                        <div class="rectangle-3" >
                        </div>
                  </div>
                  <div class="logo-15" >
                        <img class="logo-1" src="../../../assets/logo-1.png" />
                  </div>
                  <div class="pamper-ur-pet" >
  PAMPER UR PET </div>
                  <img class="image-23" src="../../../assets/image-284.png" />
                  <svg class="rectangle-112" width="1234" height="201" viewBox="0 0 1234 201" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0H1234V201H0V0Z" fill="black" fill-opacity="0.1"/>
                  </svg>
                  <div class="reserva-32" >
  Reserva 3 </div>
                  <div class="group-92" >
                        <div class="rectangle-32" >
                        </div>
                        <div class="mis-mascotas" >
  Mis mascotas </div>
                  </div>
                  <div class="group-93" >
                        <div class="rectangle-33" >
                        </div>
                  </div>
                  <div class="group-96" >
                        <div class="rectangle-39" >
                        </div>
                  </div>
                  <div class="rectangle-102" >
                  </div>
                  <div class="reserva-22" >
  Reserva 2 </div>
                  <div class="group-110" >
                        <div class="rectangle-35" >
                        </div>
                        <div class="eliminar" >
  Eliminar </div>
                        <div class="group-109" >
                              <div class="rectangle-36" >
                              </div>
                        </div>
                  </div>
                  <div class="group-1092" >
                        <div class="rectangle-37" >
                        </div>
                        <div class="group-1102" >
                              <div class="rectangle-36" >
                              </div>
                              <div class="eliminar2" >
  Eliminar </div>
                        </div>
                        <div class="group-109" >
                              <div class="rectangle-38" >
                              </div>
                        </div>
                  </div>
  <div class="inicio-fin-paseador-mascota2">
        Inicio: {{ reservas[0].fechainicio_reser }}<br/>
        Fin: {{ reservas[0].fechafin_reser }}<br/>
        Paseador: {{ reservas[0].numeromascotas_mas }}<br/>
        Mascota: {{ reservas[0].id_pas }}
    </div>
    <div *ngIf="reservas.length > 1" class="inicio-fin-paseador-mascota">
        Inicio: {{ reservas[1].fechainicio_reser }}<br/>
        Fin: {{ reservas[1].fechafin_reser }}<br/>
        Paseador: {{ reservas[1].numeromascotas_mas }}<br/>
        Mascota: {{ reservas[1].id_pas }}
    </div>
    <div *ngIf="reservas.length > 2" class="inicio-fin-paseador-mascota3">
        Inicio: {{ reservas[2].fechainicio_reser }}<br/>
        Fin: {{ reservas[2].fechafin_reser }}<br/>
        Paseador: {{ reservas[2].numeromascotas_mas }}<br/>
        Mascota: {{ reservas[2].id_pas }}
    </div>
            </div>
            <div class="reservas" >
  Reservas </div>
            <div class="rectangle-113" >
            </div>
            <div class="group-1102" >
                  <div class="rectangle-310" >
                  </div>
                  <div class="eliminar3" >
  Eliminar </div>
            </div>
            <div class="reserva-1" >
  Reserva 1 </div>
            <div class="group-109" >
                  <div class="rectangle-311" >
                  </div>
            </div>
            <img class="image-144" src="../../../assets/image-280.png" />
            <img class="image-145" src="../../../assets/image-281.png" />
            <div class="logo-42" >
                  <img class="logo-1" src="../../../assets/logo-1.png" />
            </div>
            <div class="pamper-ur-pet2" >
  PAMPER UR PET </div>
      </div>
      <div class="group-211" >
            <div class="rectangle-312" >
            </div>
      </div>
      <div class="group-212" >
            <div class="rectangle-313" >
            </div>
      </div>
      <div class="group-213" >
            <div class="rectangle-314" >
            </div>
      </div>
      <div class="group-214" >
            <div class="rectangle-315" >
            </div>
  <div class="reservas">
      <a routerLink="/todos/getdeletereserva">Reservas</a>
  </div>
  <div class="inicio2">
      <a routerLink="/todos/bienvenida">Inicio</a>
  </div>
  
  <div class="mascotas">
      <a routerLink="/todos/getmascota">Mascotas</a>
  </div>
  
  <div class="perfil">
      <a routerLink="/todos/getpropietario">Perfil</a>
  </div>
  <div class="registrar-reserva2">
      <a routerLink="/todos/realizarpagoreserva">Registrar Reserva</a>
  </div>
  
  <div class="modificar-datos4">
      <a routerLink="/todos/putreserva">Modificar datos</a>
  </div>
  
  <div class="modificar-datos2">
      <a routerLink="/todos/putreserva">Modificar datos</a>
  </div>
  
  <div class="modificar-datos3">
      <a routerLink="/todos/putreserva">Modificar datos</a>
  </div>
  <div class="rectangle-4">
      <label for="idReservaSeleccionado">Filtro Reserva por ID:</label>
      <input formControlName="idReservaSeleccionado" type="number" id="idReservaSeleccionado" placeholder="ID de reserva" (keyup)="filtrarReservas()">
    </div>
    
  <div class="qu-estas-buscando" >
       </div>
      <svg class="search" width="46" height="39" viewBox="0 0 46 39" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21.2087 8.49023C26.0412 8.49023 29.9587 12.4077 29.9587 17.2402C29.9587 19.3864 29.1861 21.3521 27.9037 22.8743L34.7391 29.7099C35.032 30.0028 35.032 30.4777 34.7391 30.7706C34.4728 31.0368 34.0561 31.061 33.7625 30.8432L33.6784 30.7706L26.8428 23.9352C25.3206 25.2176 23.3549 25.9902 21.2087 25.9902C16.3762 25.9902 12.4587 22.0727 12.4587 17.2402C12.4587 12.4077 16.3762 8.49023 21.2087 8.49023ZM21.2087 9.99023C17.2047 9.99023 13.9587 13.2362 13.9587 17.2402C13.9587 21.2443 17.2047 24.4902 21.2087 24.4902C25.2128 24.4902 28.4587 21.2443 28.4587 17.2402C28.4587 13.2362 25.2128 9.99023 21.2087 9.99023Z" fill="#212121"/>
      </svg>
  <div class="reserva-id" >
        Reserva ID: </div>
        <div class="frame-76">
              <label for="idReservaSeleccionado">ID de reserva</label>
              <input formControlName="idReservaSeleccionado" type="number" id="idReservaSeleccionado" placeholder="ID de reserva">
          </div>
  <button class="eliminar" type="button" (click)="deleteReserva()">Eliminar</button>
  <button class="eliminar2" type="button" (click)="deleteReserva()">Eliminar</button>
  <button class="eliminar3" type="button" (click)="deleteReserva()">Eliminar</button>
      </div>
  </div>
</form>