<form [formGroup]="form" (submit)="aceptar()">
    <!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-65" >
    <div class="grupo-paseadores" >
          <img class="image-21" src="../../../assets/image-312.png" />
          <div class="group-94" >
                <div class="rectangle-3" >
                </div>
                <div class="reservas" >
Reservas </div>
          </div>
          <div class="logo-15" >
                <img class="logo-1" src="../../../assets/logo-1.png" />
          </div>
          <div class="pamper-ur-pet" >
PAMPER UR PET </div>
          <img class="image-23" src="../../../assets/image-313.png" />
          <div class="group-92" >
                <div class="rectangle-32" >
                </div>
                <div class="mis-mascotas" >
Mis mascotas </div>
          </div>
    </div>
    <img class="image-45" src="../../../assets/image-314.png" />
    <img class="image-140" src="../../../assets/image-310.png" />
    <img class="image-141" src="../../../assets/image-311.png" />
    <div class="logo-40" >
          <img class="logo-1" src="../../../assets/logo-1.png" />
    </div>
    <div class="pamper-ur-pet2" >
PAMPER UR PET </div>
    <div class="group-146" >
          <div class="rectangle-33" >
          </div>
    </div>
    <div class="frame-22" >
    </div>
    <div class="frame-54" >
    </div>
    <div class="frame-55" >
    </div>
    <div class="frame-56" >
    </div>
    <div class="frame-57" >
    </div>
    <div class="frame-58" >
    </div>
    <div class="frame-59" >
    </div>
    <div class="frame-60" >
    </div>
    <div class="frame-62" >
    </div>
    <div class="frame-61" >
    </div>
    <div class="frame-63" >
    </div>
    <div class="group-221" >
          <div class="rectangle-34" >
          </div>
    </div>
    <div class="group-222" >
          <div class="rectangle-35" >
          </div>
    </div>
    <div class="group-223" >
          <div class="rectangle-36" >
          </div>
    </div>
    <div class="group-224" >
          <div class="rectangle-37" >
          </div>
    </div>
    <div class="inicio">
        <a routerLink="/todos/bienvenida">Inicio</a>
    </div>
    
    <div class="perfil">
        <a routerLink="/todos/getpropietario">Perfil</a>
    </div>
    
    <div class="reservas">
        <a routerLink="/todos/getdeletereserva">Reservas</a>
    </div>
    
    <div class="mascotas">
        <a routerLink="/todos/getmascota">Mascotas</a>
    </div>
</div>
<div class="roberto-g-mez-1">
    <label for="nombreapellido_pago"></label>
    <input formControlName="nombreapellido_pago" type="text" id="nombreapellido_pago" placeholder="Nombre y Apellido">
</div>
<div class="roberto-g-mez-2">
    <label for="correo_pago"></label>
    <input formControlName="correo_pago" type="text" id="correo_pago" placeholder="Correo">
</div>
<div class="roberto-g-mez-3">
    <label for="direccion_pago"></label>
    <input formControlName="direccion_pago" type="text" id="direccion_pago" placeholder="Dirección">
</div>
<div class="roberto-g-mez-4">
    <label for="distrito_pago"></label>
    <input formControlName="distrito_pago" type="text" id="distrito_pago" placeholder="Distrito">
</div>
<div class="roberto-1">
    <label for="telefono_pago"></label>
    <input formControlName="telefono_pago" type="text" id="telefono_pago" placeholder="Teléfono">
</div>
<div class="roberto-2">
    <label for="raza_pago"></label>
    <input formControlName="raza_pago" type="text" id="raza_pago" placeholder="Raza">
</div>
<div class="roberto-3">
    <label for="añoexpiracion_pago"></label>
    <input formControlName="añoexpiracion_pago" type="text" id="añoexpiracion_pago" placeholder="Año de Expiración">
</div>
<div class="roberto-4">
    <label for="cvv_pago"></label>
    <input formControlName="cvv_pago" type="text" id="cvv_pago" placeholder="CVV">
</div>
<div class="roberto-5">
    <label for="mesexpiracion_pago"></label>
    <input formControlName="mesexpiracion_pago" type="text" id="mesexpiracion_pago" placeholder="Mes de Expiración">
</div>
<div class="roberto-6">
    <label for="numTarjeta_pago"></label>
    <input formControlName="numTarjeta_pago" type="text" id="numTarjeta_pago" placeholder="Numero de Tarjeta">
</div>
<div class="roberto-7">
    <label for="propietario_pago"></label>
    <input formControlName="propietario_pago" type="text" id="propietario_pago" placeholder="Propietario">
</div>
<div class="frame-64" >
    <div class="roberto-8">
        <label for="tarjeta_pago"></label>
        <input formControlName="tarjeta_pago" type="text" id="tarjeta_pago" placeholder="Tarjeta">
    </div>
</div>
<div class="membresia-id" >
    Membresia<br/>ID: </div>
    <div class="frame-76">
        <label for="idMembresiaSeleccionado">ID de membresía</label>
        <input formControlName="idMembresiaSeleccionado" type="number" id="idMembresiaSeleccionado" placeholder="ID de membresía">
    </div>
<button type="submit" class="realizar-pago">REALIZAR PAGO</button>
</form>
