<!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-65" >
    <div class="grupo-paseadores" >
          <img class="image-21" src="../../../assets/image-312.png" />
          <div class="group-94" >
                <div class="rectangle-3" >
                </div>
                <div class="reservas" >
Reservas </div>
          </div>
          <div class="logo-15" >
                <img class="logo-1" src="../../../assets/logo-1.png" />
          </div>
          <div class="pamper-ur-pet" >
PAMPER UR PET </div>
          <img class="image-23" src="../../../assets/image-313.png" />
          <div class="group-92" >
                <div class="rectangle-32" >
                </div>
                <div class="mis-mascotas" >
Mis mascotas </div>
          </div>
    </div>
    <img class="image-45" src="../../../assets/image-314.png" />
    <img class="image-140" src="../../../assets/image-310.png" />
    <img class="image-141" src="../../../assets/image-311.png" />
    <div class="logo-40" >
          <img class="logo-1" src="../../../assets/logo-1.png" />
    </div>
    <div class="pamper-ur-pet2" >
PAMPER UR PET </div>
    <div class="group-146" >
          <div class="rectangle-33" >
          </div>
          <div class="realizar-pago" >
REALIZAR PAGO </div>
    </div>
    <div class="frame-22" >
    </div>
    <div class="frame-54" >
    </div>
    <div class="frame-55" >
    </div>
    <div class="frame-56" >
    </div>
    <div class="frame-57" >
    </div>
    <div class="frame-58" >
    </div>
    <div class="frame-59" >
    </div>
    <div class="frame-64" >
          <div class="roberto-8" >
Roberto 8 </div>
    </div>
    <div class="frame-60" >
    </div>
    <div class="frame-62" >
    </div>
    <div class="frame-61" >
    </div>
    <div class="frame-63" >
    </div>
    <div class="group-221" >
          <div class="rectangle-34" >
          </div>
    </div>
    <div class="group-222" >
          <div class="rectangle-35" >
          </div>
    </div>
    <div class="group-223" >
          <div class="rectangle-36" >
          </div>
    </div>
    <div class="group-224" >
          <div class="rectangle-37" >
          </div>
    </div>
    <div class="inicio">
        <a routerLink="/todos/bienvenida">Inicio</a>
    </div>
    
    <div class="perfil">
        <a routerLink="/todos/getpropietario">Perfil</a>
    </div>
    
    <div class="reservas">
        <a routerLink="/todos/getdeletereserva">Reservas</a>
    </div>
    
    <div class="mascotas">
        <a routerLink="/todos/getmascota">Mascotas</a>
    </div>
    <div class="roberto-g-mez-1" >
Roberto Gómez 1 </div>
    <div class="roberto-g-mez-2" >
Roberto Gómez 2 </div>
    <div class="roberto-g-mez-3" >
Roberto Gómez 3 </div>
    <div class="roberto-g-mez-4" >
Roberto Gómez 4 </div>
    <div class="roberto-1" >
Roberto 1 </div>
    <div class="roberto-2" >
Roberto 2 </div>
    <div class="roberto-3" >
Roberto 3 </div>
    <div class="roberto-4" >
Roberto 4 </div>
    <div class="roberto-5" >
Roberto 5 </div>
    <div class="roberto-6" >
Roberto 6 </div>
    <div class="roberto-7" >
Roberto 7 </div>
</div>
