<form [formGroup]="form" (submit)="updatePaseador()">
      <!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-69" >
      <div class="group-170" >
            <img class="image-52" src="../../../assets/image-352.png" />
            <div class="modificar-perfil" >
  Modificar perfil </div>
            <div class="frame-11" >
                  <div class="agrega-una-foto-de-perfil" >
  Agrega una foto de perfil </div>
            </div>
            <div class="frame-12" >
                  <div class="nombres-y-apellidos" >
  Nombres y Apellidos </div>
            </div>
            <div class="frame-13" >
                  <div class="n-mero-de-celular" >
  Número de celular </div>
            </div>
            <div class="frame-14" >
                  <div class="correo" >
  Correo </div>
            </div>
            <div class="frame-15" >
                  <div class="n-mero-de-celular2" >
  Número de celular </div>
            </div>
            <div class="frame-16" >
                  <div class="ejemplo-gmail-com" >
  ejemplogmail.com </div>
            </div>
            <div class="frame-17" >
                  <div class="nombre-y-apellidos" >
  Nombre y apellidos </div>
            </div>
            <img class="image-54" src="../../../assets/image-354.png" />
            <div class="paseador" >
  Paseador </div>
            <div class="group-113" >
                  <div class="rectangle-3" >
                  </div>
                  <div class="guardar" >
  Guardar </div>
            </div>
            <img class="image-133" src="../../../assets/image-350.png" />
            <img class="image-134" src="../../../assets/image-351.png" />
            <div class="logo-37" >
                  <img class="logo-1" src="../../../assets/logo-1.png" />
            </div>
            <div class="pamper-ur-pet" >
  PAMPER UR PET </div>
            <div class="group-247" >
                  <div class="rectangle-32" >
                  </div>
            </div>
            <div class="group-255" >
            </div>
            <div class="group-248" >
                  <div class="rectangle-34" >
                  </div>
            </div>
            <div class="perfil">
              <a routerLink="/todos/getpaseador">perfil</a>
          </div>
          
          <div class="inicio">
              <a routerLink="/todos/getpaseador">Inicio</a>
          </div>
          <div class="frame-17">
              <label for="nombreapellido_pas"></label>
              <input formControlName="nombreapellido_pas" type="text" id="nombreapellido_pas" placeholder="Nombre de Paseador" [(ngModel)]="paseador.nombreapellido_pas" />
            </div>
            <div class="frame-15">
              <label for="telefono_pas"></label>
              <input formControlName="telefono_pas" type="text" id="telefono_pas" placeholder="Telefono de Paseador" [(ngModel)]="paseador.telefono_pas" />
            </div>
            <div class="frame-16">
              <label for="correo_pas"></label>
              <input formControlFName="correo_pas" type="text" id="correo_pas" placeholder="Correo de Paseador" [(ngModel)]="paseador.correo_pas" />
            </div>
            <div class="image-53" (click)="onImageClick($event)">
                  <input type="file" accept="image/*" style="display: none" (change)="handleImageChange($event)" #imageInput>
                  <img [src]="imagenRuta" [style.width.px]="150" [style.height.px]="154.51"/>
                </div> 
            <div class="paseador-id" >
                  Paseador ID: </div>
                  <div class="frame-79">
                        <label for="idPaseadorSeleccionado">ID de paseador</label>
                        <input formControlName="idPaseadorSeleccionado" type="number" id="idPaseadorSeleccionado" placeholder="ID de paseador">
                    </div>
            <button class="guardar" type="submit">Guardar</button>
      </div>
  </div>
</form>