<!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-52" >
    <div class="group-177" >
          <div class="grupo-paseadores" >
                <img class="image-23" src="../../../assets/image-292.png" />
                <div class="paseador" >
Paseador: </div>
                <div class="registrar-reserva" >
Registrar Reserva </div>
                <div class="fecha-inicio" >
Fecha inicio: </div>
                <div class="fecha-fin" >
Fecha fin:  </div>
                <div class="frame-19" >
                </div>
                <div class="mascota" >
Mascota:  </div>
                <div class="frame-20" >
                </div>
                <div class="group-115" >
                      <div class="rectangle-3" >
                      </div>
                </div>
          </div>
          <div class="frame-21" >
          </div>
          <div class="frame-212" >
          </div>
          <img class="image-136" src="../../../assets/image-290.png" />
          <img class="image-137" src="../../../assets/image-291.png" />
          <div class="logo-38" >
                <img class="logo-1" src="../../../assets/logo-1.png" />
          </div>
          <div class="pamper-ur-pet" >
PAMPER UR PET </div>
    </div>
    <div class="group-216" >
          <div class="rectangle-32" >
          </div>
    </div>
    <div class="group-217" >
          <div class="rectangle-33" >
          </div>
    </div>
    <div class="group-218" >
          <div class="rectangle-34" >
          </div>
    </div>
    <div class="group-219" >
          <div class="rectangle-35" >
          </div>
          <div class="inicio">
            <a routerLink="/todos/bienvenida">Inicio</a>
        </div>
        
        <div class="perfil">
            <a routerLink="/todos/getpropietario">Perfil</a>
        </div>
        
        <div class="reservas">
            <a routerLink="/todos/getdeletereserva">Reservas</a>
        </div>
        
        <div class="mascotas">
            <a routerLink="/todos/getmascota">Mascotas</a>
        </div>
        <div class="registrar">
            <a routerLink="/todos/realizarpagoreserva">Registrar</a>
        </div>        
    </div>
</div>
