.frame-34, .frame-34 * {
    box-sizing: border-box;
    }
.frame-34 {
   width: 1331px;
    height: 923px;
    position: relative;
   }

.image-153 {
   width: 1920px;
    height: 58px;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.logo-48 {
   width: 55px;
    height: 51px;
    position: absolute;
    left: 23px;
   top: 7px;
   }

.logo-1 {
   width: 55px;
    height: 51px;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.pamper-ur-pet {
   color: #ffffff;
    text-align: left;
    font: 400 40px 'Poppins', sans-serif;
    position: absolute;
    left: 82px;
   top: 4px;
    width: 331px;
    height: 51px;
   }

.image-154 {
   width: 1920px;
    height: 1080px;
    position: absolute;
    left: 0px;
   top: 58px;
   }

.nosotros {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Open Sans', sans-serif;
    position: absolute;
    left: 631px;
   top: 23px;
    width: 105px;
    height: 24px;
   }

.membres-a {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Open Sans', sans-serif;
    position: absolute;
    left: 760px;
   top: 20px;
    width: 105px;
    height: 24px;
   }

.group-183 {
   position: absolute;
    inset: 0;
   }

.rectangle-3 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #ff9a00, #ff9a00);
    border-radius: 50px;
    width: 132px;
    height: 31px;
    position: absolute;
    left: 1029px;
   top: 17px;
   }

.i-ngresar {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Montserrat', sans-serif;
    position: absolute;
    left: 1036px;
   top: 23px;
    width: 118.94px;
    height: 21.14px;
   }

.group-258 {
   position: absolute;
    inset: 0;
   }

.rectangle-32 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #ff9a00, #ff9a00);
    border-radius: 50px;
    width: 132px;
    height: 31px;
    position: absolute;
    left: 595px;
   top: 17px;
   }

.n-osotros {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Montserrat', sans-serif;
    position: absolute;
    left: 602px;
   top: 23px;
    width: 118.94px;
    height: 21.14px;
   }

.group-257 {
   position: absolute;
    inset: 0;
   }

.rectangle-33 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #ff9a00, #ff9a00);
    border-radius: 50px;
    width: 132px;
    height: 31px;
    position: absolute;
    left: 737px;
   top: 17px;
   }

.membres-a2 {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Montserrat', sans-serif;
    position: absolute;
    left: 744px;
   top: 23px;
    width: 118.94px;
    height: 21.14px;
   }

.group-256 {
   position: absolute;
    inset: 0;
   }

.rectangle-34 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #ff9a00, #ff9a00);
    border-radius: 50px;
    width: 132px;
    height: 31px;
    position: absolute;
    left: 882px;
   top: 17px;
   }

.cont-ctanos {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Montserrat', sans-serif;
    position: absolute;
    left: 878px;
   top: 23px;
    width: 140px;
    height: 21px;
   }

.group-184 {
   position: absolute;
    inset: 0;
   }

.rectangle-35 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #ff9a00, #ff9a00);
    border-radius: 50px;
    width: 132px;
    height: 31px;
    position: absolute;
    left: 1176px;
   top: 17px;
   }

.registrarse {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Montserrat', sans-serif;
    position: absolute;
    left: 1183px;
   top: 23px;
    width: 118.94px;
    height: 21.14px;
   }

.image-155 {
   width: 610px;
    height: 474px;
    position: absolute;
    left: 666px;
   top: 153px;
   }

.rectangle-74 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, rgba(255, 252, 252, 0.41), rgba(255, 252, 252, 0.41));
    border-radius: 50px;
    width: 523px;
    height: 248px;
    position: absolute;
    left: 58px;
   top: 361px;
   }

.la-misi-n-de-nuestra-empresa-es-c-on-vertirse-y-centrarse-a-ser-uno-de-los-mejores-aplicativos-de-servicios-para-mascotas-con-un-sistema-inteligente-y-geolocalizaci-n-para-personas-que-se-encuentran-sin-tiempo-por-los-estudios-o-el-trabajo-as-tu-mascota-recibir-mucho-amor-y-no-estar-solo {
   color: #000000;
    text-align: center;
    font: 400 20px 'Open Sans', sans-serif;
    position: absolute;
    left: 66px;
   top: 397px;
    width: 508px;
    height: 187px;
   }

.la-misi-n-de-nuestra-empresa-es-c-on-vertirse-y-centrarse-a-ser-uno-de-los-mejores-aplicativos-de-servicios-para-mascotas-con-un-sistema-inteligente-y-geolocalizaci-n-para-personas-que-se-encuentran-sin-tiempo-por-los-estudios-o-el-trabajo-as-tu-mascota-recibir-mucho-amor-y-no-estar-solo-span {
   
           color: #000000;
   
           font: 400 20px 'Open Sans', sans-serif;
   
           
           
       }

.la-misi-n-de-nuestra-empresa-es-c-on-vertirse-y-centrarse-a-ser-uno-de-los-mejores-aplicativos-de-servicios-para-mascotas-con-un-sistema-inteligente-y-geolocalizaci-n-para-personas-que-se-encuentran-sin-tiempo-por-los-estudios-o-el-trabajo-as-tu-mascota-recibir-mucho-amor-y-no-estar-solo-span2 {
   
           color: #000000;
   
           font: 400 20px 'Open Sans', sans-serif;
   
           text-transform: lowercase;
   
           
       }

.la-misi-n-de-nuestra-empresa-es-c-on-vertirse-y-centrarse-a-ser-uno-de-los-mejores-aplicativos-de-servicios-para-mascotas-con-un-sistema-inteligente-y-geolocalizaci-n-para-personas-que-se-encuentran-sin-tiempo-por-los-estudios-o-el-trabajo-as-tu-mascota-recibir-mucho-amor-y-no-estar-solo-span3 {
   
           color: #000000;
   
           font: 400 20px 'Open Sans', sans-serif;
   
           
           
       }

.la-misi-n-de-nuestra-empresa-es-c-on-vertirse-y-centrarse-a-ser-uno-de-los-mejores-aplicativos-de-servicios-para-mascotas-con-un-sistema-inteligente-y-geolocalizaci-n-para-personas-que-se-encuentran-sin-tiempo-por-los-estudios-o-el-trabajo-as-tu-mascota-recibir-mucho-amor-y-no-estar-solo-span4 {
   
           color: #000000;
   
           font: 400 20px 'Open Sans', sans-serif;
   
           text-transform: lowercase;
   
           
       }

.la-misi-n-de-nuestra-empresa-es-c-on-vertirse-y-centrarse-a-ser-uno-de-los-mejores-aplicativos-de-servicios-para-mascotas-con-un-sistema-inteligente-y-geolocalizaci-n-para-personas-que-se-encuentran-sin-tiempo-por-los-estudios-o-el-trabajo-as-tu-mascota-recibir-mucho-amor-y-no-estar-solo-span5 {
   
           color: #000000;
   
           font: 400 20px 'Open Sans', sans-serif;
   
           
           
       }

.la-misi-n-de-nuestra-empresa-es-c-on-vertirse-y-centrarse-a-ser-uno-de-los-mejores-aplicativos-de-servicios-para-mascotas-con-un-sistema-inteligente-y-geolocalizaci-n-para-personas-que-se-encuentran-sin-tiempo-por-los-estudios-o-el-trabajo-as-tu-mascota-recibir-mucho-amor-y-no-estar-solo-span6 {
   
           color: #000000;
   
           font: 400 20px 'Open Sans', sans-serif;
   
           text-transform: lowercase;
   
           
       }

.bienvenido-somos-pamper-ur-pet {
   color: #00103a;
    text-align: center;
    font: 700 48px 'Open Sans', sans-serif;
    position: absolute;
    left: 21px;
   top: 180px;
    width: 579px;
    height: 129px;
   }



   .frame-35, .frame-35 * {
    box-sizing: border-box;
    }
.frame-35 {
   width: 1331px;
    height: 926px;
    position: relative;
   }

.group-294 {
   position: absolute;
    inset: 0;
   }

.logo-44 {
   width: 55px;
    height: 51px;
    position: absolute;
    left: 23px;
   top: 7px;
   }

.image-3 {
   width: 1920px;
    height: 1080px;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.image-4 {
   width: 535px;
    height: 322px;
    position: absolute;
    left: 93px;
   top: 213px;
   }

.image-5 {
   width: 582px;
    height: 322px;
    position: absolute;
    left: 628px;
   top: 213px;
   }

.pamper-ur-pet-tu-amigo-y-compa-ero-para-el-cuidado-de-tu-mascota {
   color: #00103a;
    text-align: center;
    font: 600 48px 'Open Sans', sans-serif;
    position: absolute;
    left: 149px;
   top: 548px;
    width: 958px;
    height: 129px;
   }

.ellipse-26 {
   background: #020202;
    border-radius: 50%;
    width: 66px;
    height: 59px;
    position: absolute;
    left: 1232px;
   top: 462px;
   }

.arrow-2 {
   position: absolute;
    left: 1265px;
   top: 505px;
    transform: translate(-11.05px, -27.5px);
    overflow: visible;
   }

   .frame-36, .frame-36 * {
    box-sizing: border-box;
    }
.frame-36 {
   width: 1331px;
    height: 923px;
    position: relative;
   }

.slice-2 {
   width: 100px;
    height: 100px;
    position: absolute;
    left: 256px;
   top: 666px;
   }

.image-157 {
   width: 1920px;
    height: 1080px;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.rectangle-75 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, rgba(255, 252, 252, 0.41), rgba(255, 252, 252, 0.41));
    border-radius: 50px;
    width: 523px;
    height: 564px;
    position: absolute;
    left: 78px;
   top: 229px;
   }

.qu-ofrecemos {
   color: #00103a;
    text-align: center;
    font: 700 48px 'Open Sans', sans-serif;
    position: absolute;
    left: 367px;
   top: 94px;
    width: 523px;
    height: 85px;
   }

.rectangle-76 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, rgba(255, 252, 252, 0.41), rgba(255, 252, 252, 0.41));
    border-radius: 50px;
    width: 523px;
    height: 564px;
    position: absolute;
    left: 719px;
   top: 229px;
   }

.universitarios {
   color: #000000;
    text-align: center;
    font: 400 32px 'Open Sans', sans-serif;
    position: absolute;
    left: 216px;
   top: 262px;
    width: 247px;
    height: 41px;
   }

.trabajadores {
   color: #000000;
    text-align: center;
    font: 400 32px 'Open Sans', sans-serif;
    position: absolute;
    left: 857px;
   top: 262px;
    width: 247px;
    height: 41px;
   }

.image-158 {
   width: 373px;
    height: 246px;
    position: absolute;
    left: 153px;
   top: 316px;
   }

.image-159 {
   width: 375px;
    height: 246px;
    position: absolute;
    left: 793px;
   top: 316px;
   }

.servicio-para-cuidar-o-pasear-a-tu-mascota-informaci-n-de-los-paseadores-sistema-gps-para-mayor-seguridad-personal-experimentado-amor-y-cari-o-para-tu-mascota-importancia-y-priorizar-tu-tiempo {
   color: #000000;
    text-align: left;
    font: 400 20px 'Open Sans', sans-serif;
    position: absolute;
    left: 123px;
   top: 591px;
    width: 452px;
    height: 161px;
   }

.servicio-para-cuidar-o-pasear-a-tu-mascota-informaci-n-de-los-paseadores-sistema-gps-para-mayor-seguridad-personal-experimentado-amor-y-cari-o-para-tu-mascota-importancia-y-priorizar-tu-tiempo2 {
   color: #000000;
    text-align: left;
    font: 400 20px 'Open Sans', sans-serif;
    position: absolute;
    left: 769px;
   top: 596px;
    width: 452px;
    height: 162px;
   }

   .frame-37, .frame-37 * {
    box-sizing: border-box;
    }
.frame-37 {
   width: 1335px;
    height: 923px;
    position: relative;
   }

.image-94 {
   width: 1920px;
    height: 1080px;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.aprovecha-nuestras-promociones {
   color: #00103a;
    text-align: center;
    font: 700 48px 'Open Sans', sans-serif;
    position: absolute;
    left: 4px;
   top: 123px;
    width: 576px;
    height: 102px;
   }

.basic {
   color: #ffffff;
    text-align: center;
    font: 700 48px 'Open Sans', sans-serif;
    position: absolute;
    left: 531px;
   top: 353px;
    width: 164px;
    height: 85px;
   }

.standard {
   color: #ffffff;
    text-align: center;
    font: 700 48px 'Open Sans', sans-serif;
    position: absolute;
    left: 777px;
   top: 353px;
    width: 231px;
    height: 85px;
   }

.s-30 {
   color: #ffffff;
    text-align: center;
    font: 700 48px 'Open Sans', sans-serif;
    position: absolute;
    left: 525px;
   top: 451px;
    width: 164px;
    height: 85px;
   }

._1-mes {
   color: #ffffff;
    text-align: center;
    font: 700 48px 'Open Sans', sans-serif;
    position: absolute;
    left: 531px;
   top: 536px;
    width: 164px;
    height: 85px;
   }

.s-60 {
   color: #ffffff;
    text-align: center;
    font: 700 48px 'Open Sans', sans-serif;
    position: absolute;
    left: 811px;
   top: 451px;
    width: 164px;
    height: 85px;
   }

._6-meses {
   color: #ffffff;
    text-align: center;
    font: 700 48px 'Open Sans', sans-serif;
    position: absolute;
    left: 793px;
   top: 544px;
    width: 200px;
    height: 85px;
   }

.image-14 {
   width: 359px;
    height: 372px;
    position: absolute;
    left: 73px;
   top: 318px;
   }

.s-100 {
   color: #ffffff;
    text-align: center;
    font: 700 48px 'Open Sans', sans-serif;
    position: absolute;
    left: 1099px;
   top: 459px;
    width: 164px;
    height: 85px;
   }

.vip {
   color: #ffffff;
    text-align: center;
    font: 700 48px 'Open Sans', sans-serif;
    position: absolute;
    left: 1046px;
   top: 361px;
    width: 282px;
    height: 85px;
   }

._1-a-o {
   color: #ffffff;
    text-align: center;
    font: 700 48px 'Open Sans', sans-serif;
    position: absolute;
    left: 1087px;
   top: 552px;
    width: 204px;
    height: 85px;
   }

.rectangle-4 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, rgba(255, 252, 252, 0.41), rgba(255, 252, 252, 0.41));
    border-radius: 50px;
    width: 789px;
    height: 197px;
    position: absolute;
    left: 404px;
   top: 693px;
   }

.beneficios-de-la-membres-a-mayor-contacto-directo-con-los-paseadores-de-mascotas-funciones-m-s-avanzadas-en-la-app-no-tendr-s-publicidad-en-la-p-gina-web-y-en-el-aplicativo-m-vil {
   color: #000000;
    text-align: left;
    font: 400 24px 'Open Sans', sans-serif;
    position: absolute;
    left: 431px;
   top: 715px;
    width: 765px;
    height: 184px;
   }

.beneficios-de-la-membres-a-mayor-contacto-directo-con-los-paseadores-de-mascotas-funciones-m-s-avanzadas-en-la-app-no-tendr-s-publicidad-en-la-p-gina-web-y-en-el-aplicativo-m-vil-span {
   
           color: #000000;
   
           font: 400 24px 'Open Sans', sans-serif;
   
           
           
       }

.beneficios-de-la-membres-a-mayor-contacto-directo-con-los-paseadores-de-mascotas-funciones-m-s-avanzadas-en-la-app-no-tendr-s-publicidad-en-la-p-gina-web-y-en-el-aplicativo-m-vil-span2 {
   
           color: #000000;
   
           font: 400 24px 'Open Sans', sans-serif;
   
           
           
       }

.rectangle-50 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #1a75fe, #1a75fe);
    border-radius: 50px;
    width: 257px;
    height: 325px;
    position: absolute;
    left: 484px;
   top: 331px;
   }

.rectangle-51 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #1a75fe, #1a75fe);
    border-radius: 50px;
    width: 257px;
    height: 325px;
    position: absolute;
    left: 764px;
   top: 331px;
   }

.rectangle-52 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #1a75fe, #1a75fe);
    border-radius: 50px;
    width: 257px;
    height: 325px;
    position: absolute;
    left: 1058px;
   top: 331px;
   }

.rectangle-53 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, rgba(255, 252, 252, 0.41), rgba(255, 252, 252, 0.41));
    border-radius: 50px;
    width: 789px;
    height: 197px;
    position: absolute;
    left: 404px;
   top: 693px;
   }

.beneficios-de-la-membres-a-mayor-contacto-directo-con-los-paseadores-de-mascotas-funciones-m-s-avanzadas-en-la-app-no-tendr-s-publicidad-en-la-p-gina-web-y-en-el-aplicativo-m-vil-span3 {
   
           color: #000000;
   
           font: 400 24px 'Open Sans', sans-serif;
   
           
           
       }

.beneficios-de-la-membres-a-mayor-contacto-directo-con-los-paseadores-de-mascotas-funciones-m-s-avanzadas-en-la-app-no-tendr-s-publicidad-en-la-p-gina-web-y-en-el-aplicativo-m-vil-span4 {
   
           color: #000000;
   
           font: 400 24px 'Open Sans', sans-serif;
   
           
           
       }

