<form [formGroup]="form" (submit)="updatePropietario()">
      <!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-45" >
      <div class="frame-41" >
            <div class="pamper-ur-pet" >
  PAMPER UR PET </div>
            <img class="image-49" src="../../../assets/image-224.png" />
            <div class="nosotros" >
  NOSOTROS </div>
            <div class="modificar-perfil" >
  Modificar perfil </div>
            <div class="frame-3" >
                  <div class="agrega-una-foto-de-perfil" >
  Agrega una foto de perfil </div>
            </div>
            <div class="frame-4" >
                  <div class="nombres-y-apellidos" >
  Nombres y Apellidos </div>
            </div>
            <div class="frame-6" >
                  <div class="n-mero-de-celular" >
  Número de celular </div>
            </div>
            <div class="frame-8" >
                  <div class="correo" >
  Correo </div>
            </div>
            <div class="frame-7" >
                  <div class="n-mero-de-celular2" >
  Número de celular </div>
            </div>
            <div class="frame-9" >
                  <div class="nombres-y-apellidos2" >
  Nombres y apellidos </div>
            </div>
            <img class="image-3" src="../../../assets/image-223.png" />
            <div class="propietario" >
  Propietario </div>
            <div class="rectangle-3" >
            </div>
            <div class="guardar" >
  Guardar </div>
            <div class="frame-10" >
                  <div class="ejemplo-gmail-com" >
  ejemplogmail.com </div>
            </div>
            <img class="image-131" src="../../../assets/image-220.png" />
            <img class="image-132" src="../../../assets/image-221.png" />
            <div class="logo-36" >
                  <img class="logo-1" src="../../../assets/logo-1.png" />
            </div>
            <div class="pamper-ur-pet2" >
  PAMPER UR PET </div>
            <div class="group-251" >
                  <div class="rectangle-32" >
                  </div>
            </div>
            <div class="group-252" >
                  <div class="rectangle-33" >
                  </div>
            </div>
            <div class="group-253" >
                  <div class="rectangle-34" >
                  </div>
            </div>
            <div class="group-254" >
                  <div class="rectangle-35" >
                  </div>
                  <div class="reservas">
                    <a routerLink="/todos/getdeletereserva">Reservas</a>
                </div>              
  <div class="inicio">
      <a routerLink="/todos/bienvenida">Inicio</a>
  </div>
  <div class="perfil">
      <a routerLink="/todos/getpropietario">perfil</a>
  </div>
  <div class="mascotas">
      <a routerLink="/todos/getmascota">mascotas</a>
  </div>
  <div class="frame-9">
      <label for="nombreapellido_prop"></label>
      <input formControlName="nombreapellido_prop" type="text" id="nombreapellido_prop" placeholder="Nombre de Propietario" [(ngModel)]="propietario.nombreapellido_prop" />
    </div>
    <div class="frame-7">
      <label for="telefono_prop"></label>
      <input formControlName="telefono_prop" type="text" id="telefono_prop" placeholder="Telefono de Propietario" [(ngModel)]="propietario.telefono_prop" />
    </div>
    <div class="frame-10">
      <label for="correo_prop"></label>
      <input formControlName="correo_prop" type="text" id="correo_prop" placeholder="Correo de Propietario" [(ngModel)]="propietario.correo_prop" />
    </div>
    <div class="propietario-id" >
      Propietario ID: </div>
      <div class="frame-78">
            <label for="idPropietarioSeleccionado">ID de propietario</label>
            <input formControlName="idPropietarioSeleccionado" type="number" id="idPropietarioSeleccionado" placeholder="ID de propietario">
        </div>
    <a>
      <img class="image-2" [src]="imagenRuta" />
    </a>  
    <button class="guardar" type="submit">Guardar</button>
            </div>
      </div>
  </div>
</form>
