.frame-53, .frame-53 * {
    box-sizing: border-box;
    }
.frame-53 {
   width: 1331px;
    height: 912px;
    position: relative;
   }

.group-181 {
   position: absolute;
    inset: 0;
   }

.image-3 {
   width: 1920px;
    height: 1080px;
    position: absolute;
    left: 0px;
   top: 47px;
   }

.reserva-1 {
   color: #00103a;
    text-align: center;
    font: 700 48px 'Open Sans', sans-serif;
    position: absolute;
    left: 507px;
   top: 85px;
    width: 321px;
    height: 62px;
   }

.rectangle-12 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, rgba(255, 252, 252, 0.41), rgba(255, 252, 252, 0.41));
    border-radius: 50px;
    width: 1193px;
    height: 737px;
    position: absolute;
    left: 78px;
   top: 154px;
   }

.rectangle-16 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, rgba(255, 252, 252, 0.41), rgba(255, 252, 252, 0.41));
    border-radius: 50px;
    width: 302px;
    height: 60px;
    position: absolute;
    left: 373px;
   top: 750px;
   }

.rectangle-15 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, rgba(255, 252, 252, 0.41), rgba(255, 252, 252, 0.41));
    border-radius: 50px;
    width: 302px;
    height: 60px;
    position: absolute;
    left: 373px;
   top: 674px;
   }

.rectangle-14 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, rgba(255, 252, 252, 0.41), rgba(255, 252, 252, 0.41));
    border-radius: 50px;
    width: 302px;
    height: 60px;
    position: absolute;
    left: 370px;
   top: 597px;
   }

.rectangle-13 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, rgba(255, 252, 252, 0.41), rgba(255, 252, 252, 0.41));
    border-radius: 50px;
    width: 302px;
    height: 60px;
    position: absolute;
    left: 373px;
   top: 522px;
   }

.paseador {
   color: #000000;
    text-align: left;
    font: 600 40px 'Montserrat', sans-serif;
    position: absolute;
    left: 143px;
   top: 674px;
    width: 222px;
    height: 44px;
   }

.fin {
   color: #000000;
    text-align: left;
    font: 600 40px 'Montserrat', sans-serif;
    position: absolute;
    left: 254px;
   top: 605px;
    width: 84px;
    height: 43px;
   }

.datos-de-la-reserva {
   color: #000000;
    text-align: left;
    font: 400 32px 'Open Sans', sans-serif;
    position: absolute;
    left: 127px;
   top: 463px;
   }

.group-114 {
   width: 194px;
    height: 47px;
    position: static;
   }

.rectangle-3 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #22abdd, #22abdd);
    border-radius: 50px;
    width: 194px;
    height: 47px;
    position: absolute;
    left: 578px;
   top: 826px;
   }

.modificar {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Montserrat', sans-serif;
    position: absolute;
    left: 593.13px;
   top: 841.14px;
    width: 162.85px;
    height: 16.73px;
   }

.rectangle-4 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, rgba(255, 252, 252, 0.41), rgba(255, 252, 252, 0.41));
    border-radius: 50px;
    width: 558px;
    height: 60px;
    position: absolute;
    left: 322px;
   top: 240px;
   }

.juan-alberto-castillo-palacios {
   color: #000000;
    text-align: left;
    font: 400 32px 'Open Sans', sans-serif;
    position: absolute;
    left: 370px;
   top: 244px;
    width: 445px;
    height: 50px;
   }

.rectangle-7 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, rgba(255, 252, 252, 0.41), rgba(255, 252, 252, 0.41));
    border-radius: 50px;
    width: 558px;
    height: 60px;
    position: absolute;
    left: 322px;
   top: 309px;
   }

.rectangle-11 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, rgba(255, 252, 252, 0.41), rgba(255, 252, 252, 0.41));
    border-radius: 50px;
    width: 302px;
    height: 60px;
    position: absolute;
    left: 339px;
   top: 378px;
   }

._51-987654321 {
   color: #000000;
    text-align: left;
    font: 400 32px 'Open Sans', sans-serif;
    position: absolute;
    left: 365px;
   top: 394px;
   }

.juancastillo-gmail-com {
   color: #000000;
    text-align: left;
    font: 400 32px 'Open Sans', sans-serif;
    position: absolute;
    left: 362px;
   top: 317px;
   }

.image-78 {
   width: 158px;
    height: 201px;
    position: absolute;
    left: 134px;
   top: 244px;
   }

.image-138 {
   width: 1920px;
    height: 58px;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.image-139 {
   width: 1920px;
    height: 58px;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.logo-39 {
   width: 55px;
    height: 51px;
    position: absolute;
    left: 23px;
   top: 4px;
   }

.logo-1 {
   width: 55px;
    height: 51px;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.pamper-ur-pet {
   color: #ffffff;
    text-align: left;
    font: 400 40px 'Poppins', sans-serif;
    position: absolute;
    left: 93px;
   top: 0px;
    width: 331px;
    height: 51px;
   }

.datos-del-paseador {
   color: #000000;
    text-align: left;
    font: 400 32px 'Open Sans', sans-serif;
    position: absolute;
    left: 127px;
   top: 176px;
   }

.inicio {
   color: #000000;
    text-align: left;
    font: 600 40px 'Montserrat', sans-serif;
    position: absolute;
    left: 207px;
   top: 543px;
    width: 132px;
    height: 37px;
   }

.mascota {
   color: #000000;
    text-align: left;
    font: 600 40px 'Montserrat', sans-serif;
    position: absolute;
    left: 153px;
   top: 747px;
    width: 212px;
    height: 48px;
   }

.group-230 {
   position: absolute;
    inset: 0;
   }

.rectangle-32 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #ff9a00, #ff9a00);
    border-radius: 50px;
    width: 132px;
    height: 30.97px;
    position: absolute;
    left: 731px;
   top: 15px;
   }

.membres-a {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Montserrat', sans-serif;
    position: absolute;
    left: 738px;
   top: 20.99px;
    width: 118.94px;
    height: 21.11px;
   }

.group-231 {
   position: absolute;
    inset: 0;
   }

.rectangle-33 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #ff9a00, #ff9a00);
    border-radius: 50px;
    width: 132px;
    height: 30.97px;
    position: absolute;
    left: 1030px;
   top: 13px;
   }

.mascotas {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Montserrat', sans-serif;
    position: absolute;
    left: 1037px;
   top: 18.99px;
    width: 118.94px;
    height: 21.11px;
   }

.group-232 {
   position: absolute;
    inset: 0;
   }

.rectangle-34 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #ff9a00, #ff9a00);
    border-radius: 50px;
    width: 132px;
    height: 30.97px;
    position: absolute;
    left: 582px;
   top: 15px;
   }

.inicio2 {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Montserrat', sans-serif;
    position: absolute;
    left: 589px;
   top: 20.99px;
    width: 118.94px;
    height: 21.11px;
   }

.group-233 {
   position: absolute;
    inset: 0;
   }

.rectangle-35 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #ff9a00, #ff9a00);
    border-radius: 50px;
    width: 132px;
    height: 30.97px;
    position: absolute;
    left: 1179px;
   top: 13px;
   }

.perfil {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Montserrat', sans-serif;
    position: absolute;
    left: 1186px;
   top: 18.99px;
    width: 118.94px;
    height: 21.11px;
   }

.group-234 {
   position: absolute;
    inset: 0;
   }

.rectangle-36 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #ff9a00, #ff9a00);
    border-radius: 50px;
    width: 132px;
    height: 30.97px;
    position: absolute;
    left: 880px;
   top: 15px;
   }

.reservas {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Montserrat', sans-serif;
    position: absolute;
    left: 887px;
   top: 20.99px;
    width: 118.94px;
    height: 21.11px;
   }

