<form [formGroup]="form" (submit)="updateReserva()">
      <!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-53" >
      <div class="group-181" >
            <img class="image-3" src="../../../assets/image-302.png" />
            <div class="reserva-1" >
  Reserva  </div>
            <div class="rectangle-12" >
            </div>
            <div class="rectangle-16" >
            </div>
            <div class="rectangle-15" >
            </div>
            <div class="rectangle-14" >
            </div>
            <div class="rectangle-13" >
            </div>
            <div class="paseador" >
  Paseador: </div>
            <div class="fin" >
  Fin: </div>
            <div class="datos-de-la-reserva" >
  Datos de la reserva </div>
            <div class="group-114" >
                  <div class="rectangle-3" >
                  </div>
                  <div class="modificar" >
  Modificar </div>
            </div>
            <img class="image-138" src="../../../assets/image-300.png" />
            <img class="image-139" src="../../../assets/image-301.png" />
            <div class="logo-39" >
                  <img class="logo-1" src="../../../assets/logo-1.png" />
            </div>
            <div class="pamper-ur-pet" >
  PAMPER UR PET </div>
            <div class="inicio" >
  Inicio: </div>
            <div class="mascota" >
  Mascota: </div>
      </div>
      <div class="group-230" >
            <div class="rectangle-32" >
            </div>
      </div>
      <div class="group-231" >
            <div class="rectangle-33" >
            </div>
      </div>
      <div class="group-232" >
            <div class="rectangle-34" >
            </div>
      </div>
      <div class="group-233" >
            <div class="rectangle-35" >
            </div>
      </div>
      <div class="group-234" >
            <div class="rectangle-36" >
            </div>
            <div class="inicio2">
              <a routerLink="/todos/bienvenida">Inicio</a>
          </div>
          
          <div class="perfil">
              <a routerLink="/todos/getpropietario">Perfil</a>
          </div>
          
          <div class="reservas">
              <a routerLink="/todos/getdeletereserva">Reservas</a>
          </div>
          
          <div class="mascotas">
              <a routerLink="/todos/getmascota">Mascotas</a>
          </div>
          <div class="membres-a">
              <a routerLink="/todos/pagomembresia">Membresía</a>
          </div>
          <div class="rectangle-13">
              <label for="fechainicio_reser"></label>
              <input formControlName="fechainicio_reser" type="text" id="fechainicio_reser" placeholder="Fecha de inicio" [(ngModel)]="reserva.fechainicio_reser" />
            </div>
            <div class="rectangle-14">
              <label for="fechafin_reser"></label>
              <input formControlName="fechafin_reser" type="text" id="fechafin_reser" placeholder="Fecha Fin" [(ngModel)]="reserva.fechafin_reser" />
            </div>
            <div class="rectangle-15">
              <label for="id_pas"></label>
              <input formControlName="id_pas" type="text" id="id_pas" placeholder="ID Paseador" [(ngModel)]="reserva.id_pas" />
            </div>
            <div class="rectangle-16">
              <label for="numeromascotas_mas"></label>
              <input formControlName="numeromascotas_mas" type="text" id="numeromascotas_mas" placeholder="Numero Mascotas" [(ngModel)]="reserva.numeromascotas_mas" />
            </div>
            <div class="reserva-id" >
                  Reserva ID: </div>
                  <div class="frame-76">
                        <label for="idReservaSeleccionado">ID de reserva</label>
                        <input formControlName="idReservaSeleccionado" type="number" id="idReservaSeleccionado" placeholder="ID de reserva">
                    </div>
            <button class="modificar" type="submit">Guardar cambios</button>
      </div>
  </div>
</form>