<!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-53" >
    <div class="group-181" >
          <img class="image-3" src="../../../assets/image-302.png" />
          <div class="reserva-1" >
Reserva  </div>
          <div class="rectangle-12" >
          </div>
          <div class="rectangle-16" >
          </div>
          <div class="rectangle-15" >
          </div>
          <div class="rectangle-14" >
          </div>
          <div class="rectangle-13" >
          </div>
          <div class="paseador" >
Paseador: </div>
          <div class="fin" >
Fin: </div>
          <div class="datos-de-la-reserva" >
Datos de la reserva </div>
          <div class="group-114" >
                <div class="rectangle-3" >
                </div>
                <div class="modificar" >
Modificar </div>
          </div>
          <div class="rectangle-4" >
          </div>
          <div class="juan-alberto-castillo-palacios" >
Juan Alberto Castillo Palacios </div>
          <div class="rectangle-7" >
          </div>
          <div class="rectangle-11" >
          </div>
          <div class="_51-987654321" >
+51 987654321 </div>
          <div class="juancastillo-gmail-com" >
juancastillo@gmail.com </div>
          <img class="image-78" src="../../../assets/image-303.png" />
          <img class="image-138" src="../../../assets/image-300.png" />
          <img class="image-139" src="../../../assets/image-301.png" />
          <div class="logo-39" >
                <img class="logo-1" src="../../../assets/logo-1.png" />
          </div>
          <div class="pamper-ur-pet" >
PAMPER UR PET </div>
          <div class="datos-del-paseador" >
Datos del paseador </div>
          <div class="inicio" >
Inicio: </div>
          <div class="mascota" >
Mascota: </div>
    </div>
    <div class="group-230" >
          <div class="rectangle-32" >
          </div>
    </div>
    <div class="group-231" >
          <div class="rectangle-33" >
          </div>
    </div>
    <div class="group-232" >
          <div class="rectangle-34" >
          </div>
    </div>
    <div class="group-233" >
          <div class="rectangle-35" >
          </div>
    </div>
    <div class="group-234" >
          <div class="rectangle-36" >
          </div>
          <div class="inicio2">
            <a routerLink="/todos/bienvenida">Inicio</a>
        </div>
        
        <div class="perfil">
            <a routerLink="/todos/getpropietario">Perfil</a>
        </div>
        
        <div class="reservas">
            <a routerLink="/todos/getdeletereserva">Reservas</a>
        </div>
        
        <div class="mascotas">
            <a routerLink="/todos/getmascota">Mascotas</a>
        </div>
        <div class="membres-a">
            <a routerLink="/todos/pagomembresia">Membresía</a>
        </div>
    </div>
</div>
