.frame-39, .frame-39 * {
    box-sizing: border-box;
    }
.frame-39 {
   width: 1331px;
    height: 923px;
    position: relative;
   }

.group-128 {
   position: absolute;
    inset: 0;
   }

.image-21 {
   width: 1920px;
    height: 58px;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.image-22 {
   width: 1920px;
    height: 58px;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.group-96 {
   width: 132px;
    height: 30.97px;
    position: static;
   }

.rectangle-3 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #ff9a00, #ff9a00);
    border-radius: 50px;
    width: 132px;
    height: 30.97px;
    position: absolute;
    left: 856px;
   top: 13px;
   }

.reservas {
   color: #ff2727;
    text-align: center;
    font: 600 16px 'Montserrat', sans-serif;
    position: absolute;
    left: 863px;
   top: 18.99px;
    width: 118.94px;
    height: 21.11px;
   }

.logo-15 {
   width: 55px;
    height: 51px;
    position: absolute;
    left: 23px;
   top: 4px;
   }

.logo-1 {
   width: 55px;
    height: 51px;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.pamper-ur-pet {
   color: #ffffff;
    text-align: left;
    font: 400 40px 'Poppins', sans-serif;
    position: absolute;
    left: 93px;
   top: 0px;
    width: 331px;
    height: 51px;
   }

.image-23 {
   width: 1920px;
    height: 1080px;
    position: absolute;
    left: 0px;
   top: 58px;
   }

.image-26 {
   width: 418px;
    height: 246px;
    position: absolute;
    left: 455px;
   top: 517px;
   }

.image-3 {
   width: 364.66px;
    height: 246px;
    position: absolute;
    left: 34px;
   top: 530px;
   }

.paseadores-recomendados {
   color: #000000;
    text-align: center;
    font: 400 24px 'Open Sans', sans-serif;
    position: absolute;
    left: 23px;
   top: 491px;
    width: 369px;
    height: 39px;
   }

.paseador-1 {
   color: #000000;
    text-align: center;
    font: 400 24px 'Open Sans', sans-serif;
    position: absolute;
    left: 34px;
   top: 789px;
    width: 369px;
    height: 39px;
   }

.paseador-2 {
   color: #000000;
    text-align: center;
    font: 400 24px 'Open Sans', sans-serif;
    position: absolute;
    left: 464px;
   top: 789px;
    width: 369px;
    height: 39px;
   }

.paseador-3 {
   color: #000000;
    text-align: center;
    font: 400 24px 'Open Sans', sans-serif;
    position: absolute;
    left: 922px;
   top: 789px;
    width: 369px;
    height: 39px;
   }

.image-27 {
   border-radius: 150px;
    width: 290px;
    height: 284px;
    position: absolute;
    left: 154px;
   top: 152px;
   }

.image-29 {
   width: 408px;
    height: 246px;
    position: absolute;
    left: 903px;
   top: 517px;
   }

.bienvenido-roberto {
   color: #00103a;
    text-align: center;
    font: 700 48px 'Open Sans', sans-serif;
    position: absolute;
    left: 559px;
   top: 213px;
    width: 609px;
    height: 131px;
   }

.group-92 {
   width: 132px;
    height: 30.97px;
    position: static;
   }

.rectangle-32 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #ff9a00, #ff9a00);
    border-radius: 50px;
    width: 132px;
    height: 30.97px;
    position: absolute;
    left: 1012px;
   top: 13px;
   }

.mascotas {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Montserrat', sans-serif;
    position: absolute;
    left: 1019px;
   top: 18.99px;
    width: 118.94px;
    height: 21.11px;
   }

.group-93 {
   width: 132px;
    height: 30.97px;
    position: static;
   }

.rectangle-33 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #ff9a00, #ff9a00);
    border-radius: 50px;
    width: 132px;
    height: 30.97px;
    position: absolute;
    left: 572px;
   top: 14px;
   }

.inicio {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Montserrat', sans-serif;
    position: absolute;
    left: 579px;
   top: 19.99px;
    width: 118.94px;
    height: 21.11px;
   }

.group-97 {
   width: 132px;
    height: 30.97px;
    position: static;
   }

.rectangle-34 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #ff9a00, #ff9a00);
    border-radius: 50px;
    width: 132px;
    height: 30.97px;
    position: absolute;
    left: 714px;
   top: 13px;
   }

.membresias {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Montserrat', sans-serif;
    position: absolute;
    left: 721px;
   top: 18.99px;
    width: 118.94px;
    height: 21.11px;
   }

.group-94 {
   width: 132px;
    height: 30.97px;
    position: static;
   }

.rectangle-35 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #ff9a00, #ff9a00);
    border-radius: 50px;
    width: 132px;
    height: 30.97px;
    position: absolute;
    left: 1161px;
   top: 13px;
   }

.perfil {
   color: #ffffff;
    text-align: center;
    font: 600 16px 'Montserrat', sans-serif;
    position: absolute;
    left: 1168px;
   top: 18.99px;
    width: 118.94px;
    height: 21.11px;
   }

.group-11 {
   width: 422px;
    height: 67px;
    position: static;
   }

.rectangle-36 {
   background: linear-gradient(to left, rgba(163, 146, 146, 0.20), rgba(163, 146, 146, 0.20)), linear-gradient(to left, #ffffff, #ffffff);
    border-radius: 20px;
    width: 422px;
    height: 67px;
    position: absolute;
    left: 638px;
   top: 316px;
   }

.qu-estas-buscando {
   color: #073d4f;
    text-align: left;
    font: 300 14px 'Montserrat', sans-serif;
    position: absolute;
    left: 663.87px;
   top: 337.44px;
    width: 265.16px;
    height: 22.78px;
   }

.search {
   position: absolute;
    left: 993.71px;
   top: 330.74px;
    overflow: visible;
   }

