<!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-39" >
    <div class="group-128" >
          <img class="image-21" src="../../../assets/image-21.png" />
          <img class="image-22" src="../../../assets/image-22.png" />
          <div class="group-96" >
                <div class="rectangle-3" >
                </div>
          </div>
          <div class="logo-15" >
                <img class="logo-1" src="../../../assets/logo-1.png" />
          </div>
          <div class="pamper-ur-pet" >
PAMPER UR PET </div>
          <img class="image-23" src="../../../assets/image-23.png" />
          <img class="image-26" src="../../../assets/image-30.png" />
          <img class="image-3" src="../../../assets/image-100.png" />
          <div class="paseadores-recomendados" >
Paseadores recomendados </div>
<div class="paseador-1">{{ paseador1 }}</div>
<div class="paseador-2">{{ paseador2 }}</div>
<div class="paseador-3">{{ paseador3 }}</div>
          <img class="image-29" src="../../../assets/image-29.png" />
          <div class="group-92" >
                <div class="rectangle-32" >
                </div>
          </div>
          <div class="group-93" >
                <div class="rectangle-33" >
                </div>
                <div class="inicio">
                  <a routerLink="/todos/landingpage">Inicio</a>
              </div>              
          </div>
          <div class="group-97" >
                <div class="rectangle-34" >
                </div>
                <div class="membresias">
                  <a routerLink="/todos/pagomembresia">membresias</a>
              </div>
          </div>
          <div class="group-94" >
                <div class="rectangle-35" >
                </div>
                <div class="perfil">
                  <a routerLink="/todos/getpropietario">perfil</a>
              </div>
          </div>
          <div class="mascotas">
            <a routerLink="/todos/getmascota">mascotas</a>
        </div>
        <div class="reservas">
            <a routerLink="/todos/getdeletereserva">Reservas</a>
        </div>
        <a (click)="onImageClick($event)">
            <img class="image-27" [src]="imagenRuta" />
          </a>               
        <div class="bienvenido-roberto">
            Bienvenido {{ nombrePropietario }}
          </div>          
          <div class="group-11" >
          </div>
    </div>
</div>