<!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-50" >
    <div class="group-147" >
          <img class="image-42" src="../../../assets/image-272.png" />
          <img class="image-37" src="../../../assets/image-270.png" />
          <img class="image-38" src="../../../assets/image-271.png" />
          <div class="pamper-ur-pet" >
PAMPER UR PET </div>
          <div class="logo-20" >
                <img class="logo-1" src="../../../assets/logo-1.png" />
          </div>
          <div class="eliminar-datos-de-mascota" >
Eliminar datos de Mascota </div>
          <div class="est-seguro-que-desea-eliminar-los-datos-de-esta-mascota" >
¿Está seguro que desea eliminar los datos de esta mascota? </div>
          <div class="nombre-blacki" >
Nombre: Blacki </div>
          <div class="raza-pug" >
Raza: Pug  </div>
          <div class="edad-8-meses" >
Edad: 8 Meses </div>
          <div class="group-115" >
                <div class="rectangle-3" >
                </div>
                <div class="confirmar" >
Confirmar </div>
          </div>
          <div class="group-131" >
                <div class="rectangle-32" >
                </div>
          </div>
    </div>
    <img class="image-43" src="../../../assets/image-273.png" />
    <div class="group-206" >
          <div class="rectangle-33" >
          </div>
    </div>
    <div class="group-207" >
          <div class="rectangle-34" >
          </div>
    </div>
    <div class="group-208" >
          <div class="rectangle-35" >
          </div>
    </div>
    <div class="group-209" >
          <div class="rectangle-36" >
          </div>
<div class="inicio">
    <a routerLink="/todos/bienvenida">Inicio</a>
</div>

<div class="mascotas">
    <a routerLink="/todos/getmascota">mascotas</a>
</div>

<div class="perfil">
    <a routerLink="/todos/getpropietario">perfil</a>
</div>
<div class="cancelar">
    <a routerLink="/todos/getmascota">Cancelar</a>
</div>
<div class="reservas">
      <a routerLink="/todos/getdeletereserva">Reservas</a>
  </div> 
    </div>
</div>
