<form [formGroup]="form" (submit)="aceptar()">
    <div class="frame-38" >
        <div class="rectangle-91" >
        </div>
        <img class="image-153" src="../../../assets/image-153.png" />
        <div class="logo-10" >
              <img class="logo-1" src="../../../assets/logo-1.png" />
        </div>
        <div class="pamper-ur-pet" >
    PAMPER UR PET </div>
        <img class="image-16" src="../../../assets/image-16.png" />
        <img class="image-17" src="../../../assets/image-17.png" />
        <div class="registrarse" >
    REGISTRARSE </div>
        <div class="rectangle-92" >
        </div>
        <div class="rectangle-99" >
        </div>    
        <div class="rectangle-93" >
        </div>
        <div class="rectangle-97" >
        </div>
        <div class="rectangle-98" >
        </div>
        <div class="rectangle-96" >
        </div>
        <div class="rectangle-95" >
        </div>
        <div class="rectangle-100" >
        </div>
        <div class="rectangle-101" >
        </div>
        
        <div class="registrarse2" >
    REGISTRARSE </div>
        <div class="group-283" >
              <div class="rectangle-3" >
              </div>
        </div>
        <div class="group-288" >
              <div class="rectangle-32" >
              </div>
        </div>
        <div class="group-285" >
              <div class="rectangle-33" >
              </div>
        </div>
        <div class="group-286" >
              <div class="rectangle-34" >
              </div>
        </div>
        <div class="group-287" >
              <div class="rectangle-35" >
              </div>
              <div class="registrarse3">
                <a routerLink="/todos/registerpropietario">REGISTRARSE</a>
            </div>
            <div class="n-osotros">
                <a routerLink="/todos/landingpage">NOSOTROS</a>
            </div>
            <div class="membres-a2">
                <a routerLink="/todos/landingpage">MEMBRESÍA</a>
            </div>
            
            <div class="cont-ctanos">
                <a routerLink="/todos/landingpage">CONTÁCTANOS</a>
            </div>
            
            <div class="i-ngresar">
                <a routerLink="/todos/login">iNGRESAR</a>
            </div>
            <button type="submit" class="guardar">Guardar</button>
            <div class="nombre-y-apellido">
                <label for="nombreapellido_prop"></label>
                <input formControlName="nombreapellido_prop" type="text" id="nombreapellido_prop" placeholder="Nombre y Apellido">
            </div>
            
            <div class="n-mero-de-celular">
                <label for="telefono_prop"></label>
                <input formControlName="telefono_prop" type="text" id="telefono_prop" placeholder="Número de Celular">
            </div>
            
            <div class="correo">
                <label for="correo_prop"></label>
                <input formControlName="correo_prop" type="text" id="correo_prop" placeholder="Correo">
            </div>
            
            <div class="contrase-a">
                <label for="contraseña_prop"></label>
                <input formControlName="contraseña_prop" type="password" id="contraseña_prop" placeholder="Contraseña">
            </div>
            <div class="elegir-rol">
                <label for="rol">Elegir Rol:</label>
                <select formControlName="rol" id="rol">
                    <option value="propietario">Propietario</option>
                    <option value="paseador">Paseador</option>
                </select>
            </div>
            <div class="id-de-admin">
                <label for="idAdminSeleccionado">ID de admin</label>
                <input formControlName="idAdminSeleccionado" type="number" id="idAdminSeleccionado" placeholder="ID de admin">
            </div>
            <div class="id-de-membres-a">
                <label for="idMembresiaSeleccionado">ID de membresía</label>
                <input formControlName="idMembresiaSeleccionado" type="number" id="idMembresiaSeleccionado" placeholder="ID de membresía">
            </div>
        </div>
    </div>
</form>
