<form [formGroup]="form" (submit)="aceptar()">
    <div class="frame-38" >
        <div class="rectangle-91" >
        </div>
        <img class="image-153" src="../../../assets/image-153.png" />
        <div class="logo-10" >
              <img class="logo-1" src="../../../assets/logo-1.png" />
        </div>
        <div class="pamper-ur-pet" >
    PAMPER UR PET </div>
        <img class="image-16" src="../../../assets/image-16.png" />
        <img class="image-17" src="../../../assets/image-17.png" />
        <div class="registrarse" >
    REGISTRARSE </div>
        <div class="rectangle-92" >
        </div>
        <div class="rectangle-99" >
        </div>
        <div class="rectangle-93" >
        </div>
        <div class="rectangle-97" >
        </div>
        <div class="rectangle-98" >
        </div>
        <div class="rectangle-96" >
        </div>
        <div class="rectangle-95" >
        </div>
        <div class="registrarse2" >
    REGISTRARSE </div>
        <div class="elegir-rol" >
    Elegir rol </div>
        <svg class="polygon-1" width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 35L2.54552 8.75L35.4545 8.75L19 35Z" fill="black"/>
        </svg>
        <div class="group-283" >
              <div class="rectangle-3" >
              </div>
        </div>
        <div class="group-288" >
              <div class="rectangle-32" >
              </div>
        </div>
        <div class="group-285" >
              <div class="rectangle-33" >
              </div>
        </div>
        <div class="group-286" >
              <div class="rectangle-34" >
              </div>
        </div>
        <div class="group-287" >
              <div class="rectangle-35" >
              </div>
              <div class="registrarse3">
                <a routerLink="/todos/registerpropietario">REGISTRARSE</a>
            </div>
            <div class="n-osotros">
                <a routerLink="/todos/landingpage">NOSOTROS</a>
            </div>
            <div class="membres-a2">
                <a routerLink="/todos/landingpage">MEMBRESÍA</a>
            </div>

            <div class="cont-ctanos">
                <a routerLink="/todos/landingpage">CONTÁCTANOS</a>
            </div>

            <div class="i-ngresar">
                <a routerLink="/todos/login">INGRESAR</a>
            </div>
            <button type="submit" class="guardar">Guardar</button>
            <div class="nombre-y-apellido">
                <label for="nombreapellido_prop"></label>
                <input formControlName="nombreapellido_prop" type="text" id="nombreapellido_prop" placeholder="Nombre y Apellido">
            </div>

            <div class="n-mero-de-celular">
                <label for="telefono_prop"></label>
                <input formControlName="telefono_prop" type="text" id="telefono_prop" placeholder="Número de Celular">
            </div>

            <div class="correo">
                <label for="correo_prop"></label>
                <input formControlName="correo_prop" type="text" id="correo_prop" placeholder="Correo">
            </div>

            <div class="contrase-a">
                <label for="contraseña_prop"></label>
                <input formControlName="contraseña_prop" type="password" id="contraseña_prop" placeholder="Contraseña">
            </div>
        </div>
    </div>
</form>
