<!-- For more settings use the AutoHTML plugin tab ... --> 
<div class="frame-68" >
    <div class="group-179" >
          <img class="image-67" src="../../../assets/image-340.png" />
          <img class="image-68" src="../../../assets/image-341.png" />
          <div class="logo-26" >
                <img class="logo-1" src="../../../assets/logo-1.png" />
          </div>
          <div class="pamper-ur-pet" >
PAMPER UR PET </div>
          <img class="image-69" src="../../../assets/image-342.png" />
          <div class="frame-25" >
                <div class="foto-de-perfil" >
Foto de perfil </div>
          </div>
          <div class="frame-26" >
                <div class="nombres-y-apellidos" >
Nombres y Apellidos </div>
          </div>
          <div class="frame-27" >
                <div class="correo-electronico" >
Correo electronico </div>
          </div>
          <div class="frame-28" >
                <div class="n-mero-de-celular" >
Número de celular </div>
          </div>
          <div class="paseador" >
Paseador </div>
          <img class="image-74" src="../../../assets/image-343.png" />
          <img class="image-76" src="../../../assets/image-344.png" />
          <div class="rosa-hernandez-lopez" >
            {{ nombrePaseador }} </div>
          <div class="rosahl-57-gmail-com" >
            {{ correoPaseador }} </div>
          <div class="_934997501" >
            {{ telefonoPaseador }} </div>
          <div class="group-132" >
                <div class="rectangle-3" >
                </div>
                <div class="cerrar-sesi-n" >
Cerrar sesión </div>
          </div>
    </div>
    <div class="group-247" >
          <div class="rectangle-32" >
          </div>
    </div>
    <div class="group-255" >
    </div>
    <div class="group-248" >
          <div class="rectangle-34" >
          </div>
<div class="tu-perfil">
    <a routerLink="/todos/modificarpaseador">Tu Perfil</a>
</div>
<div class="perfil">
    <a routerLink="/todos/getpaseador">perfil</a>
</div>
<div class="inicio">
    <a routerLink="/todos/getpaseador">Inicio</a>
</div> 
<div class="image-74" (click)="onImageClick($event)">
      <input type="file" accept="image/*" style="display: none" (change)="handleImageChange($event)" #imageInput>
      <img [src]="imagenRuta" [style.width.px]="150" [style.height.px]="154.51"/>
    </div>   
    </div>
</div>
